<!DOCTYPE html>
<html ng-app="pocketcivApp">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
<!--[if IE]>
  <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->

    <!-- build:css(client) app/vendor.css -->
      <!-- bower:css -->
      <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,client}) app/app.css -->
      <!-- injector:css -->
      <!-- endinjector -->
    <!-- endbuild -->
    <!-- injector:sprites -->
    <!-- endinjector -->
    <title>PocketCiv Online</title>

</head>    
<body ng-controller="MainGame">
    <!--<a id="github" target="_blank" href="https://github.com/jrutila/pocketciv-js"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>-->
    <nav snap-drawer>
        <accordion>
            <accordion-group>
                <accordion-heading>New Game</accordion-heading>
                <div class="button-group">
                    <button class="btn btn-primary" ng-repeat="(k, s) in scenarios" ng-click="load(s,k)" snap-toggle>{{ s.title }}</button>
                </div>
            </accordion-group>
            <accordion-group>
                <accordion-heading>Load Game</accordion-heading>
                <button class="btn btn-primary" ng-click="load($storage['current'])" snap-toggle>Continue</button>
                <div class="button-group">
                    <button class="btn btn-primary" ng-repeat="(k, s) in $storage.saves" ng-click="saveName = k; load(s)" snap-toggle>{{ k }}</button>
                </div>
            </accordion-group>
            <!--
            <accordion-group>
                <accordion-heading>Save Game</accordion-heading>
                <input type="text" ng-model="saveName" />
                <button ng-hide="saved" class="btn btn-primary" ng-click="save(saveName)">Save</button>
                <span ng-show="saved" class="info">{{ saveName }} saved!</span>
            </accordion-group>
            -->
            <accordion-group>
                <accordion-heading>God Mode</accordion-heading>
                <label class="btn btn-primary" ng-model="godMode" btn-checkbox ng-change="toggleGod(godMode)" hotkey="{ esc: godMode }">God Mode</label>
                <textarea ng-show="godMode" json-text rows="5" cols="30" ng-model="engine.map.areas"></textarea>
                <input ng-show="godMode" type="text" ng-model="acquireAdvance" placeholder="Acquire advance" ng-enter="engine.acquire(acquireAdvance); acquireAdvance = ''"/>
                <input ng-show="godMode" type="text" ng-model="startEvent" placeholder="Start event" ng-enter="doEvent(startEvent); startEvent = ''"/>
                <select ng-show="godMode" ng-model="engine.phase">
                    <option value="populate">1. Population</option>
                    <option value="move">2. Move</option>
                    <option value="event">3. Event</option>
                    <option value="advance">4. Advance</option>
                    <option value="support">5. Upkeep - Support</option>
                </select>
            </accordion-group>
            <accordion-group>
                <accordion-heading>Report a Bug</accordion-heading>
                <!--
                <input type="textarea" rows=5 cols=20 ng-model="bugDescr" placeholder="Write a small description what you did and what should have happened..."></textarea>
                -->
                <button class="btn btn-primary" ng-click="sendBug()" ng-hide="bugSent">Send game log</button>
                <i ng-show="bugSent" ng-click="bugSent = false">Bug sent!</i>
                <textarea ng-model="gameScript"></textarea><button ng-click="loadGamePlay('new', gameScript)">Run game log</button>
            </accordion-group>
        </accordion>
        <script id='fbj19f7'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=jrutila&button=compact&url=http%3A%2F%2Fpocketciv-js.herokuapp.com%2F';f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbj19f7');</script>
    </nav>
    <div id="main" snap-content snap-options="snapOpts">
    <div id="infobar" snap-dragger >
        <div id="mainmenu_toggle" class="navbar-toggle" snap-toggle="left">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <span ng-show="godMode" class="godmodeTitle">G</span>
        <span>ERA: {{ engine.era }}</span>
        <span>Gold: {{ engine.gold }}</span>
        <span>Glory: {{ engine.glory }}</span><br/>
        <span>{{ engine.phase }}</span>
    </div>
    
    <!--BEGIN DECK AND CARD-->
    <div id="deck" ng-class="{ pushed: hideDrawer }">
        <span id="cardsLeft">{{ deck.cardsLeft }}</span>
        <div ng-hide="hideDrawer">
            <button class="draw" ng-click="drawCard()">draw</button>
            <button class="stop" ng-click="drawCard(true)" ng-show="showStopper">stop</button>
        </div>
        <input type="text" ng-model="specificCard" ng-show="godMode" />
    </div>
    <div id="card" ng-mouseover="showCard = true" ng-mouseout="showCard = false" ng-class="{ pushed: hideDrawer, shown: showCard }">
        <span class="circle border">
            <span class="inner">{{ card.circle }}</span>
        </span>
        <span class="square">{{ card.square }}</span>
        <span class="hexagon border">
            <span class="inner" data-val="{{ card.hexagon }}">{{ card.hexagon }}</span>
        </span>
        <span class="friendly">{{ card.friendly }}</span>
        <span class="gold">{{ card.gold }}</span>
        <span class="id">{{ card.id }}</span>
        <ul class="list-unstyled">
            <li class="event" ng-repeat="(era, e) in card.events">
                <span class="era">{{ era }}</span>
                <span class="name">{{ engine.events[e.name].title || e.name | sprintf:e }}</span>
                <span class="expr">{{ e.expr }}</span>
            </li>
        </ul>
    </div>
    <!--END DECK AND CARD-->
    
    <!-- BEGIN LEFT INFO ELEMENTS -->
    <div id="leftInfo" style="width: calc(50% - {{ (mapArea.width - 18) / 2 }}px)">
        
        <div id="eventRunner" ng-show="currentEvent">
            <pc-event-view event="currentEvent" engine="engine" step="currentStep"></pc-event-view>
        </div>
    
        <div id="start" class="gameInfo" ng-hide="engine.phase">
            <h2>{{ engine.title }}</h2>
            <div class="">
                <p>{{ engine.description }}</p>
                <p class="goal">{{ engine.goal }}</p>
                <p>Ads Here!</p>
                <button
                    id="startButton"
                    class="btn btn-primary col-xs-12"
                    ng-click="engine.phase = 'populate'"
                    ng-hide="engine.phase"
                    analytics-on="click" analytics-event="startGame" analytics-label="{{ engine.name }}"
                    >Start!</button>
            </div>
        </div>
        
        <div id="gameover" class="gameInfo" ng-show="engine.phase == 'gameover'">
            <h2 ng-hide="engine.resolution">You lost!</h2>
            <h2 ng-show="engine.resolution">Victory!</h2>
            <p>Use the menu to start a new game.</p>
        </div>
        
    </div>
    <!-- END LEFT INFO ELEMENTS -->
    
    <!-- BEGIN MAP -->
    <div id="centerMap" style="width: {{ mapArea.width - 18 }}px">
        <div id="images">
            <img id="mapImage-1" src="images/modern/water.png"/>
            <img id="mapImage0" src="images/modern/land.png"/>
            <img id="mapImage1" src="images/modern/land1.png"/>
            <img id="mapImage2" src="images/modern/land2.png"/>
            <img id="mapImage3" src="images/modern/land3.png"/>
            <img id="mapImage4" src="images/modern/land4.png"/>
            <img id="mapImage5" src="images/modern/land5.png"/>
            <img id="mapImage6" src="images/modern/land6.png"/>
            <img id="mapImage7" src="images/modern/land7.png"/>
            <img id="mapImage8" src="images/modern/land8.png"/>
            <div class="symbol tribes" id="tribes"></div>
            <div class="symbol city" id="city"></div>
            <div class="icon farm" id="farm"></div>
            <div class="icon forest" id="forest"></div>
            <div class="icon fault" id="fault"></div>
            <div class="icon mountain" id="mountain"></div>
            <div class="icon volcano" id="volcano"></div>
            <div class="icon desert" id="desert"></div>
        </div>
        
        <div id="changePrompt" ng-hide="!areaChange">
            <div class="cover"></div>
            <div class="content">
                <div class="row">
                    <div class="changelist">
                        <ul class="list-inline" ng-repeat="(a, c) in areaChange">
                            <li>
                                <span ng-if="a > 0" class="areaCode">{{ a }}</span>
                                <span ng-if="a == 'gold'">{{ a }}</span>
                            </li>
                            <li ng-if="a > 0" ng-repeat="(k, v) in c"><span class="icon {{ k }}" data-val="{{ v }}">{{ v }}</span></li>
                            <li ng-if="a == 'gold'" class="gold">{{ c }}</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-primary col-xs-12" ng-click="areaChangeOk()">OK</button>
                    <button class="btn btn-default col-xs-12" ng-show="currentStep.skip" ng-click="currentStep.skip()">skip</button>
                </div>
            </div>
        </div>
        
        <div id="mapWrapper" style="width: {{ mapArea.width - 18 }}px; height: {{ mapArea.height - 40 }}px">
            <div id="map" style="width: {{ mapArea.width - 18 }}px">
                <div id="canvases">
                <canvas class="mapCanvas" id="mapCanvas-1" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
                <canvas class="mapCanvas" id="mapCanvas0" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
                <canvas class="mapCanvas" id="mapCanvas1" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
                <canvas class="mapCanvas" id="mapCanvas2" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
                <canvas class="mapCanvas" id="mapCanvas3" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
                <canvas class="mapCanvas" id="mapCanvas4" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
                <canvas class="mapCanvas" id="mapCanvas5" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
                <canvas class="mapCanvas" id="mapCanvas6" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
                <canvas class="mapCanvas" id="mapCanvas7" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
                <canvas class="mapCanvas" id="mapCanvas8" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
                <canvas class="activeCanvas" id="activeCanvas1" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
                <canvas class="activeCanvas" id="activeCanvas2" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
                <canvas class="activeCanvas" id="activeCanvas3" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
                <canvas class="activeCanvas" id="activeCanvas4" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
                <canvas class="activeCanvas" id="activeCanvas5" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
                <canvas class="activeCanvas" id="activeCanvas6" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
                <canvas class="activeCanvas" id="activeCanvas7" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
                <canvas class="activeCanvas" id="activeCanvas8" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
                <canvas class="focusCanvas" id="focusCanvas1" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
                <canvas class="focusCanvas" id="focusCanvas2" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
                <canvas class="focusCanvas" id="focusCanvas3" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
                <canvas class="focusCanvas" id="focusCanvas4" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
                <canvas class="focusCanvas" id="focusCanvas5" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
                <canvas class="focusCanvas" id="focusCanvas6" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
                <canvas class="focusCanvas" id="focusCanvas7" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
                <canvas class="focusCanvas" id="focusCanvas8" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
                <span class="areaCode" id="area1">1</span>
                <span class="areaCode" id="area2">2</span>
                <span class="areaCode" id="area3">3</span>
                <span class="areaCode" id="area4">4</span>
                <span class="areaCode" id="area5">5</span>
                <span class="areaCode" id="area6">6</span>
                <span class="areaCode" id="area7">7</span>
                <span class="areaCode" id="area8">8</span>
                <canvas ng-click="mapClick($event)" ng-mousemove="mapFocus($event)"
                    class="mapCanvas" id="clickCanvas" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            </div>
            </div>
        </div>
        
    </div>
    <!-- END MAP -->
    
    <!-- BEGIN RIGHT ACTION ELEMENTS -->
    <div id="rightAction" style="width: calc(50% - {{ (mapArea.width - 18) / 2 }}px)">
        <div class="row actionElement collapsible" ng-hide="mapInfo == undefined">
            <h2>{{ mapTitle }}</h2>
            <span class="actionContent">{{ mapInfo }}</span>
            <ul ng-hide="reducer == undefined">
                <li ng-repeat="(a,v) in reduceOk.current">
                    <span ng-if="a > 0" class="areaCode">{{ a }}</span>
                    <span ng-repeat="(key,value) in v">
                        {{ key }}: {{ value }}
                    </span>
                </li>
            </ul>
            <button class="done btn btn-primary col-xs-12" ng-click="mapDone()">done</button>
        </div>
        
        <pc-reducer class="row" reducer="reducer" ready="reduceReady"></pc-reducer>
        
        <div id="advancePhase" class="row" ng-hide="engine.phase != 'advance' || reducer || !hideDrawer" >
            <h2>Advance</h2>
            <ul class="list-unstyled">
                <li ng-repeat="(a, act) in engine.actions">
                    <button ng-click="advance(a)"
                    ng-class="{'col-xl-4': manyActions }"
                    class="btn btn-default col-sm-6 col-md-12 col-lg-6 col-xs-12">{{ act.title }}</button>
                </li>
            </ul>
            <button class="done btn btn-primary col-xs-12" ng-click="actionStack.pop(); engine.nextPhase()">Done</button>
        </div>
    </div>
    <!-- END RIGHT ACTION ELEMENTS -->
    
    <div id="advances">
        <h2>Acquired advances</h2>
        <ul>
            <li ng-repeat="(key, adv) in _.pick(engine.advances, engine.acquired)">
                <span>{{ adv.title }}</span>
            </li>
        </ul>
        <a ng-click="toggleTechTree()">Open tech tree</a>
    </div>
    <a id="showTechTree" ng-click="toggleTechTree()"></a>
    
    <div id="techtree" ng-hide="!showTT">
        <div class="cover"></div>
        <div class="ttcont">
        <button class="close" ng-click="toggleTechTree()">X</button>
        <div class="content">
            <h1>Tech tree</h1>
            
    <div class="tt_main_table tt_layout_table">
        <div class="tt_layout_row">
            <div class="tt_layout_table">
                <div class="tt_layout_left tt_layout_cell">
                    <div class="tt_layout_left_content">
                    <!-- LEFT CONTENT -->
<div id="advanceinfo">
    <div class="advancereq">
        <ul class="list-inline">
            <li class="btn btn-default" ng-class="getAcquireClasses(r)" ng-click="selectAdv(engine.advances[r])" ng-repeat="r in _.flatten(selAdv.requires)">
                {{ engine.advances[r].title || r }}
            </li>
        </ul>
    </div>
    <span ng-class="getAcquireClasses(selAdv.name)" class="btn btn-primary">
                    {{ selAdv.title }}
                </span>
    <div class="advancereqby">
        <ul class="list-inline">
            <li class="btn btn-default" ng-class="getAcquireClasses(r)" ng-click="selectAdv(engine.advances[r])" ng-repeat="r in selAdv.required_by">
                {{ engine.advances[r].title || r }}
            </li>
        </ul>
    </div>
    <div class="advancecost">
        <h2>Cost:</h2>
        <span>Tribes <span class="tribes" ng-if="selAdv.cost.tribes">{{ selAdv.cost.tribes }}</span></span>
        <span>Gold <span class="gold" ng-if="selAdv.cost.gold">{{ selAdv.cost.gold }}</span></span>
    </div>
    <div class="advanceres">
        <h2>Resources:</h2>
        <ul class="list-inline">
            <li class="icon small" ng-class="{ forest: res == 'wood', mountain: res == 'stone', farm: res == 'food' }" ng-repeat="res in selAdv.resources">{{ res }}</li>
        </ul>
    </div>
    <div class="advanceareas">
        <h2>Areas:</h2>
            <button class="btn" ng-click="advArea(engine.map.areas[a])" ng-repeat="a in possibleAdvances[selAdv.name].areas">
                {{ a }}
            </button>
    </div>
    <button ng-click="acquireGo()" class="btn btn-primary" ng-show="engine.phase == 'advance' && possibleAdvances[selAdv.name].areas.length > 0 && selArea && acquiring">Acquire</button>
</div>
<div id="advanceinfo_details">
    <div id="advanceinfo_description">{{ selAdv.description }}</div>
    <div id="advanceinfo_events" ng-if="_.size(selAdv.events) > 0">
        <div>Affects following events:</div>
        <div class="btn-group">
            <a ng-class="{ 'disabled': selEvent == engine.events[e]}" ng-repeat="(e,s) in selAdv.events" href="#" class="btn btn-default" ng-click="selectEvent(engine.events[e])">{{ engine.events[e].title }}</a>
        </div>
    </div>
    <div id="advanceinfo_event_details">
        <pc-event-view ui-if="selEvent" event="selEvent" engine="engine"></pc-event-view>
    </div>
</div>
                    <!-- END LEFT CONTENT -->
                    </div>
                </div>
                <div class="tt_layout_right tt_layout_cell">
                    <div class="tt_layout_right_content">
                    <!-- RIGHT CONTENT -->
<div id="cityinfo">
    <table class="table table-condensed table-bordered">
        <thead>
            <th>Area</th>
            <th>Tribes</th>
            <th>AV</th>
            <th>Resources</th>
        </thead>
        <tbody>
            <tr ng-click="advArea(c)" ng-class="{ areas: possibleAdvances[selAdv.name].areas.indexOf(c.id.toString()) > -1, selected: selArea == c }" ng-repeat="c in engine.map.areas | filter:city">
                <td>{{ c.id }}</td>
                <td><span class="tribes">{{ c.tribes }}</span></td>
                <td><span class="city">{{ c.city }}</span></td>
                <td>
                    <ul class="list-inline">
                        <li class="icon forest small" ng-if="c.forest"></li>
                        <li class="icon mountain small" ng-if="c.mountain || c.volcano"></li>
                        <li class="icon farm small" ng-if="c.farm"></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <div>{{ engine.acquired.length }} / {{ totalCity() }}</div>
</div>
                    <!-- END RIGHT CONTENT -->
                    </div>
                </div>
            </div>
        </div>
        <div class="tt_bottom tt_layout_row">
            <div class="tt_layout_relative">
                <div class="tt_layout_bottom_content">
                    <!-- BOTTOM CONTENT -->
<div id="advancelist">
    <table class="table table-condensed table-hover">
        <thead>
            <th>Name</th>
            <th>VP</th>
            <th>Cost</th>
            <th>Resources</th>
            <th>Requires</th>
        </thead>
        <tbody>
            <tr ng-click="selectAdv(adv)" ng-class="getAcquireClasses(key)" ng-repeat="(key, adv) in engine.advances">
                <td>{{ adv.title }}</td>
                <td>{{ adv.points }}</td>
                <td>
                    <ul class="list-inline">
                        <li class="tribes" ng-if="adv.cost.tribes">{{ adv.cost.tribes }}</li>
                        <li class="gold" ng-if="adv.cost.gold">{{ adv.cost.gold }}</li>
                    </ul>
                </td>
                <td>
                    <ul class="list-inline">
                        <li class="icon small" ng-class="{ forest: res == 'wood', mountain: res == 'stone', farm: res == 'food' }" ng-repeat="res in adv.resources">{{ res }}</li>
                    </ul>
                </td>
                <td>
                    <div>
                        {{ advTitle(adv.requires) }}
                    </div>
                </td>
                <td>{{ possibleAdvances[key].areas }}</td>
            </tr>
        </tbody>
    </table>
</div>
                    <!-- END BOTTOM CONTENT -->
                </div>
            </div>
        </div>
    </div>
        </div>
        </div>
    </div>
    
    
    <div id="welcome" ng-show="welcome">
        <div class="menu-arrow"></div>
        <h1>Welcome to play Pocket Civ</h1>
        <p>
            This is a Javascript implementation of the great PocketCiv print'n'play.
            Original game files and rules can be found <a href="http://www.backglass.org/scotts/games/PocketCiv/html/index.htm">here</a>.
        </p>
        <p>
            You can start playing using the menu. Please see the <a href="https://github.com/jrutila/pocketciv-js/issues">issues</a> for unimplemented features and bugs.
        </p>
        <p>
            Please join the development of this implementation at <a href="https://github.com/jrutila/pocketciv-js">GitHub</a>.
        </p>
        <br/>
        <script id='fbkhko4'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=jrutila&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=62;f.width=55;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbkhko4');</script>
        <div class="cb-tip-button" data-content-location="" data-href="//www.coinbase.com/tip_buttons/show_tip" data-to-user-id="54c4ec6eb834ded0dc000096"></div>
        <script>!function(d,s,id) {var js,cjs=d.getElementsByTagName(s)[0],e=d.getElementById(id);if(e){return;}js=d.createElement(s);js.id=id;js.src="https://www.coinbase.com/assets/tips.js";cjs.parentNode.insertBefore(js,cjs);}(document, 'script', 'coinbase-tips');</script>

        <a target="_blank" href="https://github.com/jrutila/pocketciv-js"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
    </div>
    
    </div><!-- snap-content -->
    
    <!-- build:js({client,node_modules}) app/vendor.js -->
      <!-- bower:js -->
      <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js({.tmp,client}) app/app.js -->
      <!-- injector:js -->
      <!-- endinjector -->
    <!-- endbuild -->

<!-- @if NODE_ENV='production' -->
    <!-- @include google_analytics.html -->
<!-- @endif -->
</body>
</html>
