<!DOCTYPE html>
<html ng-app="pocketcivApp" manifest="pocketciv.appcache">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
<!--[if IE]>
  <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->

    <!-- bower:css -->
    <!-- endbower -->
    <!-- injector:css -->
    <!-- endinjector -->
    <!-- injector:sprites -->
    <!-- endinjector -->
    <title>PocketCiv Online</title>

</head>    
<body ng-controller="MainGame" class="initiating">
    <script type="text/javascript">engine = undefined;</script>
    <script type="text/ng-template" id="areaPopover.html">
        <button btn-checkbox class="btn btn-primary" ng-model="engine.map.areas[<%= id %>].forest">
        Forest
        </button>
        <button btn-checkbox class="btn btn-primary" ng-model="engine.map.areas[<%= id %>].farm">
        Farm
        </button>
        <button btn-checkbox class="btn btn-primary" ng-model="engine.map.areas[<%= id %>].desert">
        Desert
        </button>
    </label>
    </div>
    <div class="btn-group">
        <label class="btn btn-primary" ng-model="helper[<%= id %>].stone" btn-radio="'none'">None</label>
        <label class="btn btn-primary" ng-model="helper[<%= id %>].stone" btn-radio="'mountain'">Mountain</label>
        <label class="btn btn-primary" ng-model="helper[<%= id %>].stone" btn-radio="'volcano'">Volcano</label>
    </div>
    </script>
    <p>loading...</p>
    <!--<a id="github" target="_blank" href="https://github.com/jrutila/pocketciv-js"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>-->
    <nav snap-drawer style="width: 320px">
        <accordion>
            <accordion-group>
                <accordion-heading>New Game</accordion-heading>
                <div class="btn-group-vertical text-left" role="group">
                    <button class="btn btn-primary" ng-repeat="k in _.keys(scenarios)" ng-click="load(scenarios[k],k)" snap-toggle>{{ scenarios[k].title }}</button>
                    <button class="btn btn-primary" ng-show="godMode" ng-click="createGame()" snap-toggle>Create your own!</button>
                </div>
            </accordion-group>
            <accordion-group>
                <accordion-heading>Load Game</accordion-heading>
                <button ng-if="$storage.current" class="btn btn-primary" ng-click="load($storage.current, null, $storage.gameLog)" snap-toggle>Continue</button>
                <div class="btn-group-vertical" role="group">
                    <button class="btn btn-primary" ng-repeat="(k, s) in $storage.saves" ng-click="saveName = k; load(s)" snap-toggle>{{ k }}</button>
                </div>
            </accordion-group>
            <accordion-group>
                <accordion-heading>Save Game</accordion-heading>
                <button ng-hide="saved" class="btn btn-primary" ng-click="save()">Save</button>
                <div ng-show="saved">
                    <qrcode version="4" size="100" data="{{ url }}/?{{ saved.slug }}">
                    </qrcode>
                    <a href="{{ url }}/?{{ saved.slug }}">permalink</a>
                </div>
            </accordion-group>
            <accordion-group>
                <accordion-heading>Options</accordion-heading>
                <input type="checkbox" id="optionFast" ng-model="$storage.options.fastgame" /><label for="optionFast">Fast Game</label>
                <input type="checkbox" id="optionCards" ng-model="$storage.options.drawcards" ng-show="$storage.options.fastgame" /><label for="optionCards" ng-show="$storage.options.fastgame" >Let me draw cards still</label>
            </accordion-group>
            <accordion-group>
                <accordion-heading>God Mode</accordion-heading>
                <label class="btn btn-primary" ng-model="godMode" btn-checkbox ng-change="toggleGod(godMode)" hotkey="{ esc: godMode }">God Mode</label>
                <textarea ng-show="godMode" json-text rows="5" cols="30" ng-model="engine.map.areas"></textarea>
                <input ng-show="godMode" type="text" ng-model="acquireAdvance" placeholder="Acquire advance" ng-enter="engine.acquire(acquireAdvance); acquireAdvance = ''"/>
                <input ng-show="godMode" type="text" ng-model="startEvent" placeholder="Start event" ng-enter="doEvent(startEvent); startEvent = ''"/>
                <select ng-show="godMode" ng-model="engine.phase">
                    <option value="populate">1. Population</option>
                    <option value="move">2. Move</option>
                    <option value="event">3. Event</option>
                    <option value="advance">4. Advance</option>
                    <option value="support">5. Upkeep - Support</option>
                </select>
                <label class="btn" ng-show="godMode" ng-model="mapEditor" ng-change="toggleMapEditor(mapEditor)" btn-checkbox>Edit Map</label>
            </accordion-group>
            <accordion-group>
                <accordion-heading>Report a Bug</accordion-heading>
                <!--
                <input type="textarea" rows=5 cols=20 ng-model="bugDescr" placeholder="Write a small description what you did and what should have happened..."></textarea>
                <button class="btn btn-primary" ng-click="sendBug()" ng-hide="bugSent">Send game log</button>
                <i ng-show="bugSent" ng-click="bugSent = false">Bug sent!</i>
                <button ng-click="loadGamePlay('new', gameScript)">Run game log</button>
                -->
                <p>Please start a new issue on <a href="https://github.com/jrutila/pocketciv-js/issues/new">github</a>. Tell what you were doing,
                    what happened and what should have happened. Also attach the game log from below.
                </p>
                <textarea json-text rows="10" ng-model="$storage.gameLog"></textarea>
            </accordion-group>
            <accordion-group>
                <accordion-heading>Credits</accordion-heading>
                <dl>
                    <dt>Game creator</dt>
                    <dd>Scott Soliami</dd>
                    <dt>Programming</dt>
                    <dd><a href="http://github.com/jrutila">Juho Rutila</a></dd>
                    <!--<dt>Graphics</dt>
                    <dd><i></i></dd>-->
                </dl>
            </accordion-group>
        </accordion>
        <!-- @include donations_small.html -->
    </nav>
    <div id="main" snap-content snap-options="snapOpts">
        
    <div id="infobar" snap-dragger >
        <div id="mainmenu_toggle" class="navbar-toggle" snap-toggle="left">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <span ng-show="godMode" class="godmodeTitle">G</span>
        <span class="infoera">ERA: <span ng-hide="godMode">{{ engine.era }}</span>
        <input type="number" ng-model="engine.era" ng-show="godMode" /></span>
        <span class="infogold">Gold: <span ng-hide="godMode">{{ engine.gold }}</span>
        <input type="number" ng-model="engine.gold" ng-show="godMode"/></span>
        <span class="infoglory">Glory: {{ engine.glory }}</span><br/>
        <span class="infophase">{{ engine.phase }}</span>
        <div id="helpButton" ng-click="hideHelp = !hideHelp" ng-show="engine.phase && engine.phase != 'gameover'"><span class="glyphicon glyphicon-info-sign"></span></div>
    </div>
    
    <div id="welcome" ng-show="welcome">
        <div class="menu-arrow"></div>
        <h1>Welcome to play Pocket Civ</h1>
        <p>
            This is a Javascript implementation of the great PocketCiv print'n'play.
            Original game files and rules can be found <a href="http://www.backglass.org/scotts/games/PocketCiv/html/index.htm">here</a>.
        </p>
        <p>
            You can start playing using the menu. Please see the <a href="https://github.com/jrutila/pocketciv-js/issues">issues</a> for unimplemented features and bugs.
        </p>
        <p>
            Please join the development of this implementation at <a href="https://github.com/jrutila/pocketciv-js">GitHub</a>.
        </p>
        <p>
            <strong>NEW!</strong> Follow updates to this site at my <a href="http://pocketcivonline.blogspot.fi/">blog</a>.
        </p>
        <br/>
        <!--@include donations_big.html -->
        <!-- @include ad_welcome.html -->
        <a target="_blank" href="https://github.com/jrutila/pocketciv-js"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
    </div>
    
    <!--BEGIN DECK AND CARD-->
    <div id="deck" ng-class="{ pushed: hideDrawer }">
        <span id="cardsLeft">{{ deck.cardsLeft }}</span>
        <div ng-if="!hideDrawer">
            <span class="draw">DRAW!</span>
            <button class="draw" ng-click="drawCard()" hotkey="{ space: drawCard }">draw</button>
            <button class="stop" ng-click="drawCard(true)" ng-show="showStopper">stop</button>
        </div>
        <input type="text" ng-model="specificCard" ng-show="godMode && !hideDrawer" />
    </div>
    <div id="card" ng-show="card" ng-mouseover="showCard = true" ng-mouseout="showCard = false" ng-class="{ pushed: hideDrawer, shown: showCard }">
        <span class="circle border">
            <span class="inner">{{ card.circle }}</span>
        </span>
        <span class="square">{{ card.square }}</span>
        <span class="hexagon border">
            <span class="inner" data-val="{{ card.hexagon }}">{{ card.hexagon }}</span>
        </span>
        <span ng-show="card.friendly" class="friendly">{{ card.friendly }}</span>
        <span class="gold">{{ card.gold }}</span>
        <span class="id">{{ card.id }}</span>
        <ul class="list-unstyled">
            <li class="event" ng-repeat="(era, e) in card.events">
                <span class="era">{{ era }}</span>
                <span class="name">{{ engine.events[e.name].title || e.name | sprintf:e }}</span>
                <span class="expr {{ e.expr | exprcss }}">{{ e.expr }}</span>
            </li>
        </ul>
    </div>
    <!--END DECK AND CARD-->
    
    <!-- BEGIN LEFT INFO ELEMENTS -->
    <div id="leftInfo" style="width: calc(50% - {{ (mapArea.width - 18) / 2 }}px)">
      <div id="leftInfoWrapper">
          
        <pc-mapeditor ng-if="mapEditor" map="engine.map">I am a map editor</pc-mapeditor>
        
        <div id="eventRunner" ng-show="currentEvent">
            <pc-event-view event="currentEvent" engine="engine" step="currentStep" close="hideEvent()"></pc-event-view>
        </div>
        
        <div id="help" ng-class="{ pchidden: hideHelp }" ng-show="engine.phase && engine.phase != 'gameover'">
            <h3>Goal</h3>
            <p class="goal" ng-bind-html="engine.goal"></p>
            <p class="rules" ng-bind-html="engine.rules"></p>
            <h3>Acquired advances</h3>
            <table class="advances table table-condensed">
                <tr ng-repeat="acq in engine.acquired">
                    <td>
                        {{ engine.advances[acq].title }}
                    </td>
                    <td>
                        {{ engine.advances[acq].description }}
                    </td>
                </tr>
            </table>
        </div>
        
        <div id="start" class="gameInfo" ng-hide="engine.phase">
            <h2>{{ engine.title }}</h2>
            <p ng-bind-html="engine.description"></p>
            <p ng-bind-html="engine.rules"></p>
            <p class="goal" ng-bind-html="engine.goal"></p>
            <div ng-if="_.has(tutorials, engine.name)" >
                <button
                    name="{{ engine.name+'tutorial' }}"
                    type="checkbox"
                    ng-hide="tutorial"
                    ng-click="startTutorial()"
                    class="btn btn-primary"
                >Play as Tutorial</button>
            </div>
            <!-- @include ad_gamestart.html -->
            <button
                id="startButton"
                class="btn btn-primary"
                ng-click="engine.phase = 'populate'"
                ng-hide="engine.phase"
                analytics-on="click"
                analytics-category="game"
                analytics-event="start"
                analytics-label="{{ engine.name }}"
                >Start!</button>
        </div>
        
        <div id="gameover" class="gameInfo" ng-show="engine.phase == 'gameover'">
            <h2 ng-hide="engine.resolution">You lost!</h2>
            <h2 ng-show="engine.resolution">Victory!</h2>
            <p>Use the menu to start a new game.</p>
            <!-- @include ad_gameend.html -->
        </div>
        
      </div>
    </div>
    <!-- END LEFT INFO ELEMENTS -->
    
    <!-- BEGIN MAP -->
    <div id="centerMap" style="width: {{ mapArea.width - 18 }}px">
        <div id="images">
            <img id="mapImage-1" src="images/modern/water.png"/>
            <img id="mapImage0" src="images/modern/land.png"/>
            <img id="mapImage1" src="images/modern/land1.png"/>
            <img id="mapImage2" src="images/modern/land2.png"/>
            <img id="mapImage3" src="images/modern/land3.png"/>
            <img id="mapImage4" src="images/modern/land4.png"/>
            <img id="mapImage5" src="images/modern/land5.png"/>
            <img id="mapImage6" src="images/modern/land6.png"/>
            <img id="mapImage7" src="images/modern/land7.png"/>
            <img id="mapImage8" src="images/modern/land8.png"/>
            <div class="symbol tribes" id="tribes"></div>
            <div class="symbol seacost" id="seacost"></div>
            <div class="symbol city" id="city" roman></div>
            <div class="symbol counter" id="counter"></div>
            <input type="number" min="0" class="symbol tribes edit" id="tribes-edit" />
            <input type="number" min="0" class="symbol city edit" id="city-edit" />
            <div class="icon farm" id="farm"></div>
            <div class="icon forest" id="forest"></div>
            <div class="icon fault" id="fault"></div>
            <div class="icon mountain" id="mountain"></div>
            <div class="icon volcano" id="volcano"></div>
            <div class="icon desert" id="desert"></div>
            <div class="wonder amphitheater" id="amphitheater" title="{{ engine.wonders.amphitheater.title }}"></div>
            <div class="wonder justice" id="justice" title="{{ engine.wonders.justice.title }}"></div>
            <div class="wonder coliseum" id="coliseum" title="{{ engine.wonders.coliseum.title }}"></div>
            <div class="wonder citadel" id="citadel" title="{{ engine.wonders.citadel.title }}"></div>
            <div class="wonder giant_statue" id="giant_statue" title="{{ engine.wonders.giant_statue.title }}"></div>
            <div class="wonder monolith" id="monolith" title="{{ engine.wonders.monolith.title }}"></div>
            <div class="wonder palace" id="palace" title="{{ engine.wonders.palace.title }}"></div>
            <div class="wonder gardens" id="gardens" title="{{ engine.wonders.gardens.title }}"></div>
        </div>
        
        <div id="changePrompt" ng-if="areaChange">
            <div class="cover"></div>
            <div class="content">
                <div class="row">
                    <div class="changelist">
                        <ul class="list-inline" ng-repeat="(a, c) in areaChange">
                            <li>
                                <span ng-if="a > 0" class="areaCode">{{ a }}</span>
                                <span ng-if="a == 'gold'">{{ a }}</span>
                            </li>
                            <li ng-if="a > 0" ng-repeat="(k, v) in c">
                                <span ng-if="!_.isObject(v)" class="icon {{ k }}" data-val="{{ v }}">{{ v }}</span>
                                <span ng-if="_.isObject(v)"  class="{{ k }} array_adding">{{ v['+'] }}</span>
                                <span ng-if="_.isObject(v)"  class="{{ k }} array_removing">{{ v['-'] }}</span>
                            </li>
                            <li ng-if="a == 'gold'" class="gold">{{ c }}</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-primary col-xs-12" ng-click="areaChangeOk()" hotkey="{ space: areaChangeOk }">OK</button>
                    <button class="btn btn-default col-xs-12" ng-show="currentStep.skip" ng-click="currentStep.skip()">skip</button>
                    <button class="btn btn-default col-xs-12" ng-show="godMode" ng-click="areaChangeOk(true)">ignore</button>
                </div>
            </div>
        </div>
        
        <div id="mapWrapper">
            <div id="map" style="width: {{ mapArea.width - 18 }}px"></div>
                <div id="canvases" ng-class="{'godMode': godMode }">
                <canvas class="mapCanvas" id="mapCanvas-1"></canvas>
                <canvas class="mapCanvas" id="mapCanvas0" ></canvas>
                <canvas class="mapCanvas" id="mapCanvas1" ></canvas>
                <canvas class="mapCanvas" id="mapCanvas2" ></canvas>
                <canvas class="mapCanvas" id="mapCanvas3" ></canvas>
                <canvas class="mapCanvas" id="mapCanvas4" ></canvas>
                <canvas class="mapCanvas" id="mapCanvas5" ></canvas>
                <canvas class="mapCanvas" id="mapCanvas6" ></canvas>
                <canvas class="mapCanvas" id="mapCanvas7" ></canvas>
                <canvas class="mapCanvas" id="mapCanvas8" ></canvas>
                <canvas class="activeCanvas" id="activeCanvas1"></canvas>
                <canvas class="activeCanvas" id="activeCanvas2"></canvas>
                <canvas class="activeCanvas" id="activeCanvas3"></canvas>
                <canvas class="activeCanvas" id="activeCanvas4"></canvas>
                <canvas class="activeCanvas" id="activeCanvas5"></canvas>
                <canvas class="activeCanvas" id="activeCanvas6"></canvas>
                <canvas class="activeCanvas" id="activeCanvas7"></canvas>
                <canvas class="activeCanvas" id="activeCanvas8"></canvas>
                <canvas class="focusCanvas" id="focusCanvas1"></canvas>
                <canvas class="focusCanvas" id="focusCanvas2"></canvas>
                <canvas class="focusCanvas" id="focusCanvas3"></canvas>
                <canvas class="focusCanvas" id="focusCanvas4"></canvas>
                <canvas class="focusCanvas" id="focusCanvas5"></canvas>
                <canvas class="focusCanvas" id="focusCanvas6"></canvas>
                <canvas class="focusCanvas" id="focusCanvas7"></canvas>
                <canvas class="focusCanvas" id="focusCanvas8"></canvas>
                <span class="areaCode" id="area1" god-popover>1</span>
                <span class="areaCode" id="area2" god-popover>2</span>
                <span class="areaCode" id="area3" god-popover>3</span>
                <span class="areaCode" id="area4" god-popover>4</span>
                <span class="areaCode" id="area5" god-popover>5</span>
                <span class="areaCode" id="area6" god-popover>6</span>
                <span class="areaCode" id="area7" god-popover>7</span>
                <span class="areaCode" id="area8" god-popover>8</span>
                <canvas ng-click="mapClick($event)" ng-mousemove="mapFocus($event)"
                    class="mapCanvas" id="clickCanvas" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            </div>
            </div>
            
            <div id="gameLog" style="position: absolute; bottom: 0px; z-index: -1">
                <div class="logEntry" ng-repeat="l in $storage.gameLog.log track by $index">{{ l }}</div>
            </div>
        </div>
    <!-- END MAP -->
    
    <!-- BEGIN RIGHT ACTION ELEMENTS -->
    <div id="rightAction" style="width: calc(50% - {{ (mapArea.width - 18) / 2 }}px)">
        <div class="row actionElement collapsible" ng-hide="mapInfo == undefined">
            <h2>{{ mapTitle }}<span ng-show="busy" style="color: blue;"> busy</span></h2>
            <span class="actionContent">{{ mapInfo }}</span>
            <ul ng-hide="reducer == undefined">
                <li ng-repeat="(a,v) in reduceOk.current">
                    <span ng-if="a > 0" class="areaCode">{{ a }}</span>
                    <span ng-repeat="(key,value) in v">
                        {{ key }}: {{ value }}
                    </span>
                </li>
            </ul>
            <button
                class="done btn btn-primary col-xs-12 col-md-6"
                ng-click="mapDone()"
                ng-disabled="forceMove && !_.isEqual(movement, forceMove)"
                >Done</button>
            <button class="btn col-md-6"
                ng-click="moveReset()">Reset</button>
        </div>
        
        <pc-reducer class="row" reducer="reducer" ready="reduceReady"></pc-reducer>
        
        <div id="advancePhase" class="row" ng-hide="engine.phase != 'advance' || reducer || !hideDrawer" >
            <h2>Advance</h2>
            <ul class="list-unstyled">
                <li ng-repeat="(a, act) in engine.actions">
                    <button
                        ng-click="advance(a)"
                        ng-class="{'col-xl-4': manyActions }"
                        class="btn btn-default col-sm-6 col-md-12 col-lg-6 col-xs-12 advance-{{ a }}"
                    >{{ act.title }}</button>
                </li>
            </ul>
            <button class="done btn btn-primary col-xs-12" ng-click="actionStack.pop(); engine.endPhase()">Done</button>
        </div>
    </div>
    <!-- END RIGHT ACTION ELEMENTS -->
    
    <a id="showTechTree" ng-click="toggleTechTree()">
        <div class="img"></div>
        <div class="tt_frees" ng-class="{ available: acquire.acquirer.totalCity > _.size(acquire.acquirer.acquired) }">{{ _.size(acquire.acquirer.acquired) }} / {{ acquire.acquirer.totalCity }}</div>
        <div class="tt_info" ng-show="_.any(acquire.selected)">
            <ul>
                <li ng-init="advance = engine.advances[key]" ng-if="ss" ng-repeat="(key, ss) in acquire.selected">
                    <div>
                        <div class="tt_name"
                            ng-class="{ available: acquire.acquirer.possibleAdvances[advance.name].areas.length }">
                            {{ advance.title }}
                        </div>
                        <div class="advancecost">
                            <span class="tribes" ng-if="advance.cost.tribes">{{ advance.cost.tribes }}</span>
                            <span class="gold" ng-if="advance.cost.gold">{{ advance.cost.gold }}</span>
                        </div>
                        <div class="advanceres">
                            <ul class="list-inline">
                                <li class="icon small" ng-class="{ forest: res == 'wood', mountain: res == 'stone', farm: res == 'food' }" ng-repeat="res in advance.resources">{{ res }}</li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </a>
    
    <pc-techtree ng-show="showTT"
    selected="acquire.selected || build.selected"
    engine="engine"
    acquirer="acquire.acquirer"
    acquiring="acquire.acquiring"
    builder="build.builder"
    building="build.building"
    godmode="godMode"
    ></pc-techtree>
    
    </div><!-- snap-content -->
    
    <!-- build:js({client,node_modules}) app/vendor.js -->
      <!-- bower:js -->
      <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js({.tmp,client}) app/app.js -->
      <!-- injector:js -->
      <!-- endinjector -->
    <!-- endbuild -->

<!-- @if NODE_ENV='production' -->
    <!-- @include google_analytics.html -->
<!-- @endif -->
</body>
</html>
