@import "sprite/sprites.scss";

.icon {
    text-indent: -9999px;
    display: inline-block;
}

.icon.tribes, .icon.city {
    text-indent: 0px;
    padding-top: 6px;
}

.icon[data-val='false'] {
    background-color: red;
}

$iconZoom: 0.7;

.icon.small {
    width: $desert-width * $iconZoom;
    height: $desert-height * $iconZoom;
    background-size: $spritesheet-width * $iconZoom;
}

.icon.small.forest {
    background-position-x: $forest-offset-x * $iconZoom;
    background-position-y: $forest-offset-y * $iconZoom;
    background-position: $forest-offset-x * $iconZoom $forest-offset-y * $iconZoom;
}

.icon.small.mountain {
    background-position-x: $mountain-offset-x * $iconZoom;
    background-position-y: $mountain-offset-y * $iconZoom;
    background-position: $mountain-offset-x * $iconZoom $mountain-offset-y * $iconZoom;
}

.icon.small.farm {
    background-position-x: $farm-offset-x * $iconZoom;
    background-position-y: $farm-offset-y * $iconZoom;
    background-position: $farm-offset-x * $iconZoom $farm-offset-y * $iconZoom;
}

.icon.small.fault {
    background-position-x: $fault-offset-x * $iconZoom;
    background-position-y: $fault-offset-y * $iconZoom;
    background-position: $fault-offset-x * $iconZoom $fault-offset-y * $iconZoom;
}