/*#map {
    overflow: auto;
    height: 100%;
}*/

#canvases {
    position: relative;
    //width: $mapWidth;
    //height: $mapHeight;
    
    top: -40px;
    left: -18px;
    
    canvas {
        position: absolute;
        top: 0px;
        left: 0px;
    }
}

#clickCanvas {
    z-index: 10;
}

.focusCanvas, .activeCanvas {
    visibility: hidden;
}

.focusCanvas.focus, .activeCanvas.active {
    visibility: visible;
}

#images {
    display: none;
}

#canvases span, #canvases div {
    position: absolute;
    z-index: 9;
    display: none;
}

.areaCode {
        background-color: darkRed;
        color: white;
        border-radius: 90px;
        width: $mapSymbolSize;
        height: $mapSymbolSize;
        font-weight: bolder;
        text-align: center;
        padding-top: 3px;
        display: inline-block;
}

.gold {
    background-color: $goldColor;
    padding-left: 3px;
    padding-right: 2px;
}

.tribes {
    background-color: $tribeColor;
    width: 25px;
    color: black;
    font-weight: bolder;
    text-align: center;
    display: inline-block;
}
.city {
    background-color: lightGrey;
    width: 25px;
    color: black;
    font-weight: bolder;
    text-align: center;
    display: inline-block;
}

.counter {
    background-color: red;
    width: 25px;
    color: white;
    font-weight: bolder;
    text-align: center;
    display: inline-block;
}

.city[data-val='5'],
.city[data-val='6'],
.city[data-val='7'],
.city[data-val='8'],
.city[data-val='9'],
.city[data-val='10']
{
    border: 2px solid gold;
}

