$leftInfoMarginSides: 30px;
$heightLimit: 700px;
$ttInfoWidth: 90px;
$ttToggleSize: 70px;

body {
    line-height: 1;
}

#main {
    overflow: hidden;
}

body.initiating {
    #main > *, > nav {
        display: none;
    }
    #welcome, #infobar {
        display: block !important;
    }
    #infobar > span {
        display: none;
    }
}

.infoera span {
    font-family: Trajan;
}

.infogold span {
    color: gold;
}

/* BEGIN DECK */

#card {
    position: fixed;
    width: $cardWidth;
    height: $cardHeight;
    z-index: 100;
    bottom: 3px;
    right: $cardWidth + $cardBorderSize + $deckRightMargin * 2;
}

#deck {
    position: fixed;
    width: $cardWidth;
    height: $cardHeight;
    z-index: 100;
    
    right: $deckRightMargin;
    bottom: 3px;

    #cardsLeft {
        font-size: 54px;
        width: 100%;
        display: block;
        text-align: center;
        top: 56px;
        position: absolute;
    }
}

@media (max-width: $screen-sm-max) {
    #card.pushed {
        right: $deckPeek + $deckRightMargin;
    }
    #deck.pushed {
        right: -1*($cardWidth - $deckPeek);
        
        #cardsLeft {
            width: $deckPeek;
            text-align: left;
            font-size: 28px;
            margin-left: 15px;
        }
    }
}

@media (max-height: $heightLimit) {
    #card.pushed {
        bottom: -1*($cardHeight - $eventTop);
        opacity: 0.9;
    }
    #card.shown {
        bottom: 0px;
    }
    #deck.pushed {
        bottom: -1*($cardHeight / 2);
        opacity: 0.9;
    }
}


/* END DECK */

/* BEGIN LEFT INFO */
#leftInfo {
    float: left;
    display: block;
    position: absolute;
    z-index: 98;
    margin-top: $infoBarHeight;
    height: 100%;

    #eventRunner {
        position: absolute;
        z-index: 98;
        margin: 20px;
        margin-top: 20px;
    }
    
    #leftInfoWrapper {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: auto;
    }
}

.gameInfo {
    margin-left: $leftInfoMarginSides;
    margin-right: $leftInfoMarginSides;
    margin-top: $infoBarHeight+20;
    background-color: $color-secondary-1-2;
    border: 2px solid $color-secondary-1-3;
    padding-left: 5px;
    padding-right: 5px;
    
    .cover {
        display: none;
    }
    
    .goal {
        font-weight: bold;
    }
}

#help {
    margin-left: $leftInfoMarginSides;
    margin-right: $leftInfoMarginSides;
    margin-top: 20;
    margin-bottom: 50px;
}

@media (min-width: $screen-md-min) {
    #helpButton {
        display: none;
    }

}
@media (max-width: $screen-sm-max) {
    #helpButton {
        display: inline-block;
        position: absolute;
        top: 2px;
        right: 2px;
        cursor: pointer;
        span {
            font-size: $infoBarHeight;
        }
    }
}
    
@media (max-width: $screen-sm-max) {
    #leftInfo {
        pointer-events: none;
        z-index: 250;
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: 100% !important;
        
        #leftInfoWrapper > div:not(#eventRunner) {
            pointer-events: all;
        }
        
        .event {
            pointer-events: all;
        }
    }
    #leftInfoWrapper > div {
        position: fixed !important;
        left: 0px;
        right: 0px;
    }
    
    #help {
        top: $infoBarHeight;
        overflow: auto;
        bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        padding-left: $leftInfoMarginSides;
        padding-right: $leftInfoMarginSides;
        z-index: 300;
    }
    
    #helpButton.hidden {
        display: none;
    }
    
    #help {
        background-color: $color-secondary-1-1;
    }
    
    .pchidden {
        display: none !important;
    }

}

@media (max-width: $screen-sm-max) {
    #eventRunner {
        top: 42px;

        .event {
            opacity: 0.85;
            padding-bottom: $ttToggleSize;
        }

        bottom: 0px;
        overflow: auto;
    }

    #eventRunner.pushed {
        dl {
            dt, dd {
                display: none
            }
            dt.active {
                display: inline;
            }
        }
        pointer-events: none !important;

        .event {
            position: fixed;
            bottom: 100px;
            pointer-events: all;
            padding-bottom: 0px;
        }
    }
}
/* END LEFT INFO */


/* BEGIN CENTER MAP */
#centerMap {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    position: relative;

    #mapWrapper {
        overflow: auto;
        margin-right: auto;
        margin-left: auto;
        height: 100%;
    }
}
@media (max-width: $screen-xs-max) {
    #centerMap {
        width: 100% !important;
    }
}
#centerMap::-webkit-scrollbar {
    display: none;
}
/* END CENTER MAP */

/* BEGIN RIGHT ACTION */
#rightAction {
    float: right;
    position: absolute;
    right: 0px;
    top: 45px;
    //height: 100%;
    z-index: 180;
    
    > div {
        background-color: $color-primary-1;
        margin: 20px;
        margin-top: 0px;
        z-index: 99;
        border: 3px solid $color-primary-4;
        
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        
        h2 {
            height: $actionElementTopicHeight;
            background-color: $color-primary-3;
            text-align: center;
            margin-top: 10px;
            font-weight: bold;
        }
    }
}
@media (max-width: $screen-sm-max) {
    #rightAction {
        width: 100% !important;
        
        div {
            opacity: 0.95;
        }
        
        div.away {
            z-index: 225;
            padding: 0px;
            margin-top: 0px;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            opacity: 0.9;
            
            * {
                display: none;
            }
            h2 {
                display: block;
                margin: 0px;
            }
            .done {
                display: block;
            }
        }
    }
}
/* END RIGHT ACTION */


a {
    cursor: pointer;
}

#welcome {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $color-primary-0;
    z-index: 254;
    top: 0px;
}

#advances { display: none; }


.cover {
    position: fixed;
    width: 100%;
    height: 100%;
    top: $infoBarHeight;
    left: 0px;
    z-index: 200;
    background:rgba(0,0,0,0.6);
}

#infobar {
    width: 100%;
    background-color: rgba(gray, .7);
    height: $infoBarHeight;
    font-weight: bold;
    top: 0px;
    position: fixed;
    z-index: 260;
    text-align: center;
    
    .navbar-toggle {
        margin: 0px;
        display: inline-block;
        float: left;
        span {
            background-color: black;
        }
    }
    
    input {
        width: 40px;
    }
}

#changePrompt {
    .content {
        z-index: 230;
        width: 100%;
        background-color: rgba(white, .8);
        text-align: center;
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 50%;
        
        @media (max-width: $screen-xs-max) {
            position: fixed;
        }
        
        .row {
            margin-left: 0px;
            margin-right: 0px;
        }
    }
    
    
    .changelist {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
    ul {
        display: table-row;
        
        li {
            display: table-cell;
            vertical-align: middle;
            padding-top: 5px;
            padding-bottom: 5px;
            
            span {
                display: inline-block;
            }
        }
    }
}
        
.godmodeTitle {
    color: $color-secondary-1-4;
}
    

.highlight {
    z-index: 201 !important;
}

#showTechTree {
    z-index: 256;
    position: fixed;
    bottom: 3px;
    left: 3px;
    padding: 2px;
    opacity: 0.9;
    width: $ttToggleSize + $ttInfoWidth;
    cursor: pointer;
    div.img {
        height: $ttToggleSize;
        width: $ttToggleSize;
        background-image: url("/images/modern/techtree.svg");
        background-size: 100% 100%;
    }
    .tt_info {
        width: $ttInfoWidth;
        position: absolute;
        background-color: $color-complement-2;
        height: $ttToggleSize;
        top: 0px; right: 0px;
        padding-left: 4px;
        
        > ul {
            padding-left: 0px;
            list-style-type: none;
            position: absolute;
            bottom: 0px;
            width: 100%;
            
            > li {
                background-color: $color-complement-2;
                height: 64px;
                display: none;
                padding-left: 2px;
                /*position: relative;*/
                
                > div {
                    height: 100%;
                    width: 100%;
                    ul {
                        margin-left: 0px;
                    }
                    /*position: absolute;*/
                }
            }
            > li:last-child {
                display: block;
            }
        }
        > ul:hover > li {
            display: block;
        }
    }
    .tt_frees {
        color: red;
        font-weight: bold;
        position: absolute;
        top: 5px;
        left: 7px;
    }
    .tt_frees.available {
        color: $color-complement-1;
    }
    .tt_name {
        color: $color-secondary-1-4;
    }
    .tt_name.available {
        color: $color-complement-4;
    }
}

#startButton {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ttcont {
    position: fixed;
    top:  $infoBarHeight+4px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    z-index: 255;
}
@media (max-width: $screen-xs-max) {
    .ttcont {
        position: fixed;
        top:  $infoBarHeight;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }
}
@media (max-width: $screen-sm-max) {
    pc-event-view {
        .event {
            padding-bottom: $ttToggleSize;
        }
    }
}

#advancelist {
    padding-bottom: $ttToggleSize;
}

#advanceinfo_event_details {
    bottom: 20px;
    .event {
        padding-bottom: $ttToggleSize;
    }
}

#main {
    background-color: wheat;
    position: absolute;
    width: 100%;
    height: 100%;
}

nav {
    width: 200px;
    position: absolute;
    
    a.accordion-toggle {
        display: inline-block;
        width: 100%;
    }
}

@include smaller-than-map {
    #github {
        display: none;
    }
}

@include bigger-than-map {
    #github {
        position: fixed;
        z-index: 10;
        width: 135px;
        right: 0px;
    }
}