<!DOCTYPE html>
<html ng-app="pocketcivApp">
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
<style>
    #canvases {
        position:relative;
        width: 800px;
        height: 800px;
    }
    .mapCanvas {
        position:absolute;
        top: 0px;
        left: 0px;
    }
    #images {
        display: none;
    }
    .symbol {
        position: absolute;
        z-index: 9000;
        display: none;
    }
    .areaCode {
        background-color: darkRed;
        color: white;
        border-radius: 90px;
        width: 21px;
        height: 21px;
        font-weight: bolder;
        text-align: center;
    }
    .tribes {
        background-color: darksalmon;
        width: 25px;
        color: black;
        font-weight: bolder;
        text-align: center;
    }
    .city {
        background-color: lightGrey;
        width: 25px;
        color: black;
        font-weight: bolder;
        text-align: center;
    }
</style>

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script>window.jQuery || document.write('<script src="bower_components/jquery/dist/jquery.min.js">\x3C/script>')</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script>window._ || document.write('<script src="bower_components/underscore/underscore.js">\x3C/script>')</script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.angularjs.org/1.2.9/angular.min.js"></script>
<script>window.angular || document.write('<script src="bower_components/angular/angular.miangular.min.js">\x3C/script>')</script>
<script type="text/javascript" src="bower_components/ngstorage/ngStorage.js"></script>
</head>    
<body ng-controller="MainGame">
    <div>{{ deck.cardsLeft }}
        <div ng-hide="hideDrawer">
        <button ng-click="drawCard()">draw</button>
        <input ng-hide="!godMode" type="text" ng-model="specificCard" />
        </div>
    </div>
    <div>{{ card }}</div>
    
    <div>
        <span>Gold: {{ engine.gold }}</span>
    </div>
    
    <div id="map">
        <div id="images">
            <img id="mapImage7" src="app/img/modern/land7.png"/>
            <img id="mapImage8" src="app/img/modern/land8.png"/>
            <img id="mapImage-1" src="app/img/modern/water.png"/>
            <img id="mapImage0" src="app/img/modern/land.png"/>
            <img id="mapImage1" src="app/img/modern/land1.png"/>
            <img id="mapImage2" src="app/img/modern/land2.png"/>
            <img id="mapImage3" src="app/img/modern/land3.png"/>
            <img id="mapImage4" src="app/img/modern/land4.png"/>
            <img id="mapImage5" src="app/img/modern/land5.png"/>
            <img id="mapImage6" src="app/img/modern/land6.png"/>
            <span class="symbol tribes" id="tribes"></span>
            <span class="symbol city" id="city"></span>
            <img class="symbol farm" id="farm" src="app/img/modern/farm.png"></img>
            <img class="symbol forest" id="forest" src="app/img/modern/forest.png"></img>
            <img class="symbol fault" id="fault" src="app/img/modern/fault.png"></img>
            <img class="symbol mountain" id="mountain" src="app/img/modern/mtn.png"></img>
            <img class="symbol volcano" id="volcano" src="app/img/modern/vol.png"></img>
            <img class="symbol desert" id="desert" src="app/img/modern/desert.png"></img>
        </div>
        <div id="canvases">
        <canvas class="mapCanvas" id="mapCanvas-1" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
        <canvas class="mapCanvas" id="mapCanvas0" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
        <canvas class="mapCanvas" id="mapCanvas1" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
        <canvas class="mapCanvas" id="mapCanvas2" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
        <canvas class="mapCanvas" id="mapCanvas3" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
        <canvas class="mapCanvas" id="mapCanvas4" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
        <canvas class="mapCanvas" id="mapCanvas5" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
        <canvas class="mapCanvas" id="mapCanvas6" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
        <canvas class="mapCanvas" id="mapCanvas7" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
        <canvas class="mapCanvas" id="mapCanvas8" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
        <span class="symbol areaCode" id="area1">1</span>
        <span class="symbol areaCode" id="area2">2</span>
        <span class="symbol areaCode" id="area3">3</span>
        <span class="symbol areaCode" id="area4">4</span>
        <span class="symbol areaCode" id="area5">5</span>
        <span class="symbol areaCode" id="area6">6</span>
        <span class="symbol areaCode" id="area7">7</span>
        <span class="symbol areaCode" id="area8">8</span>
        </div>
        <textarea ng-hide="!godMode" json-text rows="5" cols="100" ng-model="map" ng-change="mapChanged()">
        </textarea>
        <span>{{ areaChange }}<button ng-hide="!areaChange" ng-click="areaChangeOk()">OK</button></span>
    </div>
    
    <div id="mover" ng-hide="hideMover">
        <ul>
            <li ng-repeat="(id, area) in movement">{{ id }}: <input type="number" value="{{ area.tribes }}" ng-model="movement[id]"/></li>
        </ul>
        <button ng-click="moveTribes()">Move</button>
    </div>
    
    <div id="reducer" ng-hide="hideReducer">
        <span ng-hide="!reducer.amount">Amount to reduce {{ reducer.amount }} in mode {{ reducer.mode }}</span>
        <div><input type="text" value="{{ reduceArray }}" /></div>
        <ul>
            <li ng-repeat="area in reduceAreas">
            <div ng-switch on="reducer.mode">
                <div ng-switch-when="Overall">{{ area.id }}
                    <input type="number" ng-model="reduceArray[area.id]['tribes']"/>
                </div>
                <button ng-switch-default ng-click="reduceArray.push(area.id)">{{ area.id }}</button>
            </div>    
            </li>
        </ul>
        <button ng-hide="reducer.amount > 0" ng-click="reduceReady()">reduce</button>
    </div>
    
    <div id="areaselect" ng-hide="possibleAreas.length == 0">
        <select ng-model="selectedArea" ng-options="a for a in possibleAreas"></select>
        <button ng-click="selectArea()">Select</button>
    </div>
    
    <div ng-hide="!possibleAdvances">
        <textarea cols="100">{{ possibleAdvances }}</textarea><br/>
        <input ng-model="acquire_name" /><input ng-model="acquire_area" /><button ng-click="acquireGo()">Go</button>
        <textarea cols="50">{{ acquired }}</textarea><br/>
        <button ng-click="acquireOk()">Acquire!</button>
    </div>
    
    <div id="phaser">
    <h2>Phases</h2>
    <input type="checkbox" ng-model="godMode" />God Mode
    <span ng-hide="!godMode">
        <select ng-model="changePhase">
            <option value="populate">1. Population</option>
            <option value="move">2. Move</option>
            <option value="event">3. Event</option>
            <option value="advance">4. Advance</option>
            <option value="support">5. Upkeep - Support</option>
        </select>
        <button ng-click="goPhase()">Change</button>
    </span>
        <ul>
            <li><button ng-click="engine.runPhase('populate')" ng-disabled="engine.phase != 'populate'">1. Population</button></li>
            <li><button ng-click="engine.runPhase('move')" ng-disabled="engine.phase != 'move'">2. Move</button></li>
            <li><button ng-click="engine.runPhase('event')" ng-disabled="engine.phase != 'event'">3. Event card</button></li>
            <li>4. Advance
                <ul ng-hide="engine.phase != 'advance'">
                    <li><button ng-click="advance('farm')">Create a Farm</button></li>
                    <li><button ng-click="advance('city')">Build a City</button></li>
                    <li><button ng-click="advance('acquire')">Acquire Advances</button></li>
                    <li><button ng-click="engine.nextPhase()">DONE!</button></li>
                </ul>
            </li>
            <li><button ng-click="engine.runPhase('support')" ng-disabled="engine.phase != 'support'">5.1 Upkeek - Support</button></li>
            <li><button ng-click="engine.runPhase('gold_decimate')" ng-disabled="engine.phase != 'gold_decimate'">5.2 Upkeek - Decimate Gold</button></li>
            <li><button ng-click="engine.runPhase('city_support')" ng-disabled="engine.phase != 'city_support'">5.3 Upkeek - City Support</button></li>
            <li><button ng-click="engine.runPhase('upkeep')" ng-disabled="engine.phase != 'upkeep'">5. Upkeek</button></li>
        </ul>
    </div>
    
    <div id="advances">
        <div ng-hide="!godMode">
        <input type="text" ng-model="acquireAdvance"/><button ng-click="engine.acquire(acquireAdvance)">Acquire!</button><br/>
        <input type="text" ng-model="startEvent"/><button ng-click="doEvent()">Start!</button>
        </div>
        <ul>
            <li ng-repeat="adv in engine.acquired">{{ adv.title }}</li>
        </ul>
    </div>
    
    <div id="replay">
        <input type="text" ng-model="gameName" /><button ng-click="saveGamePlay()">save</button>
        <ul>
            <li ng-repeat="(k, g) in $storage"><button ng-click="loadGamePlay(k, g)">{{ k }}</button><button ng-click="delete $storage[k]">X</button></li>
        </ul>
        <textarea ng-model="gameScript"></textarea><button ng-click="loadGamePlay('new', gameScript)">load</button>
    </div>
    
    <script type="text/javascript" src="app/lib/HexagonTools/js/HexagonTools.js"></script>
    <script type="text/javascript" src="app/lib/HexagonTools/js/HexCalcs.js"></script>
    <script type="text/javascript" src="app/lib/HexagonTools/js/Grid.js"></script>
    <script type="text/javascript" src="app/js/map.js"></script>
    <script type="text/javascript" src="bundle.js"></script>
</body>
</html>
