<!DOCTYPE html>
<html ng-app="pocketcivApp">
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.angularjs.org/1.2.9/angular.min.js"></script>
</head>    
<body ng-controller="MainGame">
    <div>{{ deck.cardsLeft }}
        <button ng-hide="hideDrawer" ng-click="drawCard()">draw</button>
    </div>
    <div>{{ card }}</div>
    
    <div id="map">
        <textarea rows="5" cols="100">
        {{ map }}
        </textarea>
        <span>{{ areaChange }}<button ng-hide="!areaChange" ng-click="areaChangeOk()">OK</button></span>
    </div>
    
    <div id="mover" ng-hide="hideMover">
        <ul>
            <li ng-repeat="(id, area) in movement">{{ id }}: <input type="number" value="{{ area.tribes }}" ng-model="movement[id]"/></li>
        </ul>
        <button ng-click="moveTribes()">Move</button>
    </div>
    
    <div id="reducer" ng-hide="hideReducer">
        <span>Decimate {{ reduceAmount - reductions.length }} tribes</span>
        <ul>
            <li ng-repeat="id in reduceAreas">{{ id }}: <input type="number" value="0" ng-model="reductions[id]"/></li>
        </ul>
        <button ng-click="reduceTribes()">Decimate</button>
    </div>
    
    <div id="areaselect" ng-hide="possibleAreas.length == 0">
        <select ng-model="selectedArea" ng-options="a for a in possibleAreas"></select>
        <button ng-click="selectArea()">Select</button>
    </div>
    
    <div ng-hide="!possibleAdvances">
        <textarea cols="100">{{ possibleAdvances }}</textarea><br/>
        <input ng-model="acquire_name" /><input ng-model="acquire_area" /><button ng-click="acquireGo()">Go</button>
        <textarea cols="50">{{ acquired }}</textarea><br/>
        <button ng-click="acquireOk()">Acquire!</button>
    </div>
    
    <div id="phaser">
    <h2>Phases</h2>
        <ul>
            <li><button ng-click="engine.populate()" ng-disabled="engine.phase != 'populate'">1. Population</button></li>
            <li><button ng-click="engine.move()" ng-disabled="engine.phase != 'move'">2. Move</button></li>
<!--            <li><button ng-click="engine.event()" ng-disabled="engine.phase != 'event'">3. Event card</button></li>-->
            <li><button ng-click="engine.event()">3. Event card</button></li>
            <li>
                <ul ng-hide="engine.phase != 'advance'">
                    <li><button ng-click="engine.advance('farm')">4.1 Create a Farm</button></li>
                    <li><button ng-click="engine.advance('city')">4.2 Build a City</button></li>
                    <li><button ng-click="engine.advance('acquire')">4.2 Acquire Advances</button></li>
                </ul>
            </li>
        </ul>
    </div>
    
    <div id="advances">
        <input type="text" ng-model="acquireAdvance"/><button ng-click="engine.acquire(acquireAdvance)">Acquire!</button>
        <ul>
            <li ng-repeat="adv in engine.acquired">{{ adv.title }}</li>
        </ul>
    </div>
    
    <script type="text/javascript" src="bundle.js"></script>
</body>
</html>
