<!DOCTYPE html>
<html ng-app="pocketcivApp">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
<link href="app/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
<link href="app/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
<!--[if IE]>
  <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script>window.jQuery || document.write('<script src="bower_components/jquery/dist/jquery.min.js">\x3C/script>')</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script>window._ || document.write('<script src="bower_components/underscore/underscore.js">\x3C/script>')</script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.angularjs.org/1.2.9/angular.min.js"></script>
<script>window.angular || document.write('<script src="bower_components/angular/angular.miangular.min.js">\x3C/script>')</script>
<script type="text/javascript" src="bower_components/ngstorage/ngStorage.js"></script>
</head>    
<body ng-controller="MainGame">
    <div id="mainmenu_toggle" ng-click="mainMenu = !mainMenu">-</div>
    <div id="mainmenu" ng-hide="!mainMenu">
        <div class="cover"></div>
        <ul>
            <li>
                <button ng-click="mm_newGame = true">New Game</button>
                <ul ng-hide="!mm_newGame">
                    <li ng-repeat="(k, s) in scenarios" ng-click="load(s)">{{ s.title }}</li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="deck" ng-class="{ pushed: hideDrawer }">
        <span id="cardsLeft">{{ deck.cardsLeft }}</span>
        <div ng-hide="hideDrawer">
        <button ng-click="drawCard()">draw</button>
        <input ng-hide="!godMode" type="text" ng-model="specificCard" />
        </div>
    </div>
    <div id="card" ng-mouseover="showCard = true" ng-mouseout="showCard = false" ng-class="{ pushed: hideDrawer, shown: showCard }">
        <span class="circle border">
            <span class="inner">{{ card.circle }}</span>
        </span>
        <span class="square">{{ card.square }}</span>
        <span class="hexagon border">
            <span class="inner">{{ card.hexagon }}</span>
        </span>
        <span class="friendly">{{ card.friendly }}</span>
        <span class="gold">{{ card.gold }}</span>
        <span class="id">{{ card.id }}</span>
        <ul>
            <li class="event" ng-repeat="(era, e) in card.events">
                <span class="era">{{ era }}</span>
                <span class="name">{{ e.name }} {{ e.visitor }}</span>
                <span class="expr">{{ e.expr }}</span>
            </li>
        </ul>
    </div>
    <!--{{ card }}-->
    
    <div id="infobar">
        <span>ERA: {{ engine.era }}</span>
        <span>Gold: {{ engine.gold }}</span>
    </div>
    
    <div id="map">
        <div id="images">
            <img id="mapImage7" src="app/img/modern/land7.png"/>
            <img id="mapImage8" src="app/img/modern/land8.png"/>
            <img id="mapImage-1" src="app/img/modern/water.png"/>
            <img id="mapImage0" src="app/img/modern/land.png"/>
            <img id="mapImage1" src="app/img/modern/land1.png"/>
            <img id="mapImage2" src="app/img/modern/land2.png"/>
            <img id="mapImage3" src="app/img/modern/land3.png"/>
            <img id="mapImage4" src="app/img/modern/land4.png"/>
            <img id="mapImage5" src="app/img/modern/land5.png"/>
            <img id="mapImage6" src="app/img/modern/land6.png"/>
            <span class="symbol tribes" id="tribes"></span>
            <span class="symbol city" id="city"></span>
            <img class="symbol farm" id="farm" src="app/img/modern/farm.png"></img>
            <img class="symbol forest" id="forest" src="app/img/modern/forest.png"></img>
            <img class="symbol fault" id="fault" src="app/img/modern/fault.png"></img>
            <img class="symbol mountain" id="mountain" src="app/img/modern/mtn.png"></img>
            <img class="symbol volcano" id="volcano" src="app/img/modern/vol.png"></img>
            <img class="symbol desert" id="desert" src="app/img/modern/desert.png"></img>
        </div>
        <div id="canvases">
            <canvas class="mapCanvas" id="mapCanvas-1" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="mapCanvas" id="mapCanvas0" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="mapCanvas" id="mapCanvas1" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="mapCanvas" id="mapCanvas2" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="mapCanvas" id="mapCanvas3" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="mapCanvas" id="mapCanvas4" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="mapCanvas" id="mapCanvas5" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="mapCanvas" id="mapCanvas6" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="mapCanvas" id="mapCanvas7" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="mapCanvas" id="mapCanvas8" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="activeCanvas" id="activeCanvas1" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="activeCanvas" id="activeCanvas2" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="activeCanvas" id="activeCanvas3" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="activeCanvas" id="activeCanvas4" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="activeCanvas" id="activeCanvas5" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="activeCanvas" id="activeCanvas6" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="activeCanvas" id="activeCanvas7" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="activeCanvas" id="activeCanvas8" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="focusCanvas" id="focusCanvas1" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="focusCanvas" id="focusCanvas2" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="focusCanvas" id="focusCanvas3" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="focusCanvas" id="focusCanvas4" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="focusCanvas" id="focusCanvas5" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="focusCanvas" id="focusCanvas6" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="focusCanvas" id="focusCanvas7" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="focusCanvas" id="focusCanvas8" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <span class="symbol areaCode" id="area1">1</span>
            <span class="symbol areaCode" id="area2">2</span>
            <span class="symbol areaCode" id="area3">3</span>
            <span class="symbol areaCode" id="area4">4</span>
            <span class="symbol areaCode" id="area5">5</span>
            <span class="symbol areaCode" id="area6">6</span>
            <span class="symbol areaCode" id="area7">7</span>
            <span class="symbol areaCode" id="area8">8</span>
            <canvas ng-click="mapClick($event)" ng-mousemove="mapFocus($event)"
                class="mapCanvas" id="clickCanvas" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
        </div>
        <textarea ng-hide="!godMode" json-text rows="5" cols="100" ng-model="map" ng-change="mapChanged()">
        </textarea>
        <div id="mapinfo" ng-hide="mapInfo == undefined">
            {{ mapInfo }}
            <ul ng-hide="reduceObject == undefined">
                <li ng-repeat="(k,v) in reduceObject">
                    {{ k }}:
                    tribes: <input type="number" ng-model="reduceObject[k]['tribes']" />
                    city: <input type="number" ng-model="reduceObject[k]['city']" />
                </li>
            </ul>
            <button ng-click="mapDone()">done</button>
        </div>
    </div>
    
    <div id="advances">
        <h2>Acquired advances</h2>
        <div ng-hide="!godMode">
        <input type="text" ng-model="acquireAdvance"/><button ng-click="engine.acquire(acquireAdvance)">Acquire!</button><br/>
        </div>
        <ul>
            <li ng-repeat="(key, adv) in engine.acquired">
                <span>{{ adv.title }}</span>
            </li>
        </ul>
    </div>
    <a id="showTechTree" ng-click="toggleTechTree()">Open tech tree</a>
    
    <div id="techtree" ng-hide="!showTT">
        <div class="cover"></div>
        <div class="ttcont">
        <button class="close" ng-click="toggleTechTree()">X</button>
        <div class="content">
            <h2>Tech tree</h2>
            <div id="cityinfo">
                <table class="table">
                    <thead><th>Area</th><th>AV</th><th>Tribes</th><th>Resources</th></thead>
                    <tbody>
                        <tr ng-repeat="c in engine.map.areas | filter:city">
                            <td>{{ c.id }}</td><td><span class="city">{{ c.city }}</span></td><td><span class="tribes">{{ c.tribes }}</span></td><td>TBD</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="advanceinfo">
                <div id="advancereq">
                    <ul>
                        <li ng-repeat="r in selAdv.requires">
                            {{ r }}
                        </li>
                    </ul>
                </div>
                <h1>{{ selAdv.title }}</h1>
                <div id="advancecost">
                    <h2>Cost</h2>
                    <span>Tribes: <span class="tribes">{{ selAdv.cost.tribes }}</span></span>
                    <span>Gold: <span class="gold">{{ selAdv.cost.gold }}</span></span>
                </div>
                <div id="advanceres">
                    <h2>Resources</h2>
                    <ul>
                        <li ng-repeat="r in selAdv.resources">
                            {{ r }}
                        </li>
                    </ul>
                </div>
                <div id="advanceareas">
                    <h2>Available on areas:</h2>
                    <ul>
                        <li ng-repeat="a in possibleAdvances[selAdv.name].areas">
                            {{ a }}
                        </li>
                    </ul>
                </div>
            </div>
            <table class="advancelist table table-condensed table-hover">
                <thead><th>Name</th><th>VP</th><th>Cost</th><th>Resources</th><th>Requires</th></thead>
                <tbody>
                    <tr ng-click="selectAdv(adv)" ng-class="{ acquired: engine.acquired[key], available: possibleAdvances[key], areas: possibleAdvances[key].areas.length, selected: selAdv == adv }" ng-repeat="(key, adv) in engine.advances">
                        <td>{{ adv.title }}</td>
                        <td>{{ adv.points }}</td>
                        <td>
                            <span ng-repeat="(k, v) in adv.cost" class="{{ k }}">{{ v }}</span>
                        </td>
                        <td>{{ adv.resources }}</td>
                        <td>{{ adv.requires }}</td>
                        <td>{{ possibleAdvances[key].areas }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
    
    <div id="changePrompt" ng-hide="!areaChange">
        <div class="cover"></div>
        <div class="content">
            <span>{{ areaChange }}</span>
            <button ng-click="areaChangeOk()">OK</button>
        </div>
    </div>
    
    <div id="mover" ng-hide="hideMover">
        <ul>
            <li ng-repeat="(id, area) in movement">{{ id }}: <input type="number" value="{{ area.tribes }}" ng-model="movement[id]"/></li>
        </ul>
        <button ng-click="moveTribes()">Move</button>
    </div>
    
    <div id="areaselect" ng-hide="possibleAreas.length == 0">
        <select ng-model="selectedArea" ng-options="a for a in possibleAreas"></select>
        <button ng-click="selectArea()">Select</button>
    </div>
    
    <div ng-hide="!possibleAdvances">
        <textarea cols="100">{{ possibleAdvances }}</textarea><br/>
        <input ng-model="acquire_name" /><input ng-model="acquire_area" />
        <button ng-click="acquireGo()">Go</button>
        <textarea cols="50">{{ acquired }}</textarea><br/>
        <button ng-click="acquireOk()">Acquire!</button>
    </div>
    
    <div id="advancePhase" ng-hide="engine.phase != 'advance'" ng-class="{away: mapInfo!=undefined || advAway }">
        <h2 ng-click="advAway = !advAway">Advance</h2>
        <ul>
            <li><button ng-click="advance('farm')">Create a Farm</button></li>
            <li><button ng-click="advance('city')">Build a City</button></li>
            <li><button ng-click="advance('acquire')">Acquire Advances</button></li>
        </ul>
        <button ng-click="engine.nextPhase()">Done</button>
    </div>
    
    <div id="phaser">
    <h2>Phases</h2>
    <button ng-click="engine.phase = 'populate'" ng-hide="engine.phase">Start!</button>
    <input type="checkbox" ng-model="godMode" />God Mode
    <span ng-hide="!godMode">
        <select ng-model="changePhase">
            <option value="populate">1. Population</option>
            <option value="move">2. Move</option>
            <option value="event">3. Event</option>
            <option value="advance">4. Advance</option>
            <option value="support">5. Upkeep - Support</option>
        </select>
        <button ng-click="goPhase()">Change</button>
    </span>
        <ul ng-hide="!godMode">
            <li><button ng-click="engine.runPhase('populate')" ng-disabled="engine.phase != 'populate'">1. Population</button></li>
            <li><button ng-click="engine.runPhase('move')" ng-disabled="engine.phase != 'move'">2. Move</button></li>
            <li><button ng-click="engine.runPhase('event')" ng-disabled="engine.phase != 'event'">3. Event card</button></li>
            <li>4. Advance
                <ul ng-hide="engine.phase != 'advance'">
                    <li><button ng-click="advance('farm')">Create a Farm</button></li>
                    <li><button ng-click="advance('city')">Build a City</button></li>
                    <li><button ng-click="advance('acquire')">Acquire Advances</button></li>
                    <li><button ng-click="engine.nextPhase()">DONE!</button></li>
                </ul>
            </li>
            <li><button ng-click="engine.runPhase('support')" ng-disabled="engine.phase != 'support'">5.1 Upkeek - Support</button></li>
            <li><button ng-click="engine.runPhase('gold_decimate')" ng-disabled="engine.phase != 'gold_decimate'">5.2 Upkeek - Decimate Gold</button></li>
            <li><button ng-click="engine.runPhase('city_support')" ng-disabled="engine.phase != 'city_support'">5.3 Upkeek - City Support</button></li>
            <li><button ng-click="engine.runPhase('upkeep')" ng-disabled="engine.phase != 'upkeep'">5. Upkeek</button></li>
        </ul>
        <input type="text" ng-model="startEvent"/><button ng-click="doEvent()">Start event!</button>
    </div>
    
    
    <div id="replay">
        <input type="text" ng-model="gameName" /><button ng-click="saveGamePlay()">save</button>
        <ul>
            <li ng-repeat="(k, g) in $storage"><button ng-click="loadGamePlay(k, g)">{{ k }}</button><button ng-click="delete $storage[k]">X</button></li>
        </ul>
        <textarea ng-model="gameScript"></textarea><button ng-click="loadGamePlay('new', gameScript)">load</button>
    </div>
    
    <script type="text/javascript" src="app/lib/HexagonTools/js/HexagonTools.js"></script>
    <script type="text/javascript" src="app/lib/HexagonTools/js/HexCalcs.js"></script>
    <script type="text/javascript" src="app/lib/HexagonTools/js/Grid.js"></script>
    <script type="text/javascript" src="app/js/map.js"></script>
    <script type="text/javascript" src="bundle.js"></script>
</body>
</html>
