<div id="techtree">
    <div class="cover"></div>
    <div class="ttcont">
    <button class="close" ng-click="toggleTechTree()">X</button>
    <div class="content">
        
        <!-- nav tabs -->
        <!--
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#advancestab" role="tab" data-toggle="tab">
                    Tech tree
                    <span ng-show="acquirer">{{ _.size(acquirer.acquired) }} / {{ acquirer.totalCity }}</span>
                </a>
            </li>
            <li>
                <a href="#wonderstab" role="tab" data-toggle="tab">
                    Wonders
                </a>
            </li>
        </ul>
        -->
            
    <!-- tab panes -->
<tabset>
    
<tab> <!-- advances -->
    <tab-heading>
        Advances <span ng-show="acquirer">{{ _.size(acquirer.acquired) }} / {{ acquirer.totalCity }}</span>
    </tab-heading>
    <div ng-show="nowAcquired().length > 0" class="resetter"><span>{{ nowAcquired() }}</span>
    <button class="btn btn-danger" ng-if="nowAcquired().length > 0" ng-click="resetAcquires()">Reset</button>
    </div>
            
    <div class="tt_main_table tt_layout_table">
        <div class="tt_layout_row">
            <div class="tt_top tt_layout_table">
                <div class="tt_layout_left tt_layout_cell">
                    <div class="tt_layout_left_content">
                    <!-- LEFT CONTENT -->
<div id="advanceinfo_tree">
    <div class="advancereq">
        <ul class="list-inline">
            <li class="btn btn-default" ng-class="getAcquireClasses(r)" ng-click="selectAdv(acquirer.advances[r])" ng-repeat="r in _.flatten(selAdv.requires)">
                {{ acquirer.advances[r].title || r }}
            </li>
        </ul>
    </div>
    <span ng-class="getAcquireClasses(selAdv.name)" class="btn btn-primary">
                    {{ selAdv.title }}
                </span>
    <div class="advancereqby">
        <ul class="list-inline">
            <li class="btn btn-default" ng-class="getAcquireClasses(r)" ng-click="selectAdv(acquirer.advances[r])" ng-repeat="r in selAdv.required_by">
                {{ acquirer.advances[r].title || r }}
            </li>
        </ul>
    </div>
</div>
<div id="advanceinfo_cost">
    <div class="advancecost">
        <strong>Cost:</strong>
        <span>Tribes <span class="tribes" ng-if="selAdv.cost.tribes">{{ selAdv.cost.tribes }}</span></span>
        <span>Gold <span class="gold" ng-if="selAdv.cost.gold">{{ selAdv.cost.gold }}</span></span>
    </div>
    <div class="advanceres">
        <strong>Resources:</strong>
        <ul class="list-inline">
            <li class="icon small" ng-class="{ forest: res == 'wood', mountain: res == 'stone', farm: res == 'food' }" ng-repeat="res in selAdv.resources">{{ res }}</li>
        </ul>
    </div>
</div>
<div id="advanceinfo_details">
    <div id="advanceinfo_description">{{ selAdv.description }}</div>
    <div id="advanceinfo_events" ng-if="_.size(selAdv.events) > 0">
        <div>Affects following events:</div>
        <div class="btn-group">
            <a ng-class="{ 'disabled': selEvent == engine.events[e]}" ng-repeat="(e,s) in selAdv.events" href="#" class="btn btn-default" ng-click="selectEvent(engine.events[e])">{{ engine.events[e].title }}</a>
        </div>
    </div>
</div>
<div id="advanceinfo_event_details" ng-show="selEvent">
    <pc-event-view ui-if="selEvent" event="selEvent" engine="engine" close="selEvent = undefined"></pc-event-view>
</div>
<div id="advanceinfo_acquire" ng-show="acquiring">
    <button ng-click="acquire()" class="btn btn-lg btn-primary" ng-disabled="possibleAdvances[selAdv.name].areas.length == 0 || !selArea">Acquire</button>
</div>
                    <!-- END LEFT CONTENT -->
                    </div>
                </div>
                <div class="tt_layout_right tt_layout_cell">
                    <div class="tt_layout_right_content">
                    <!-- RIGHT CONTENT -->
<div id="cityinfo">
    <table class="table table-condensed table-bordered">
        <thead>
            <th>Area</th>
            <th>Tribes</th>
            <th>AV</th>
            <th>Resources</th>
        </thead>
        <tbody>
            <tr ng-click="advArea(c)" ng-class="{ areas: possibleAdvances[selAdv.name].areas.indexOf(c.id.toString()) > -1, selected: selArea == c, used: _.has(acquirer.nowacquired, c.id) }" ng-repeat="c in acquirer.areas">
                <td><span class="areaCode">{{ c.id }}</span></td>
                <td><span class="tribes">{{ c.tribes }}</span></td>
                <td><span class="city">{{ c.city }}</span></td>
                <td>
                    <ul class="list-inline">
                        <li class="icon forest small" ng-if="c.forest"></li>
                        <li class="icon mountain small" ng-if="c.mountain || c.volcano"></li>
                        <li class="icon farm small" ng-if="c.farm"></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
                    <!-- END RIGHT CONTENT -->
                    </div>
                </div>
            </div>
        </div>
        <div class="tt_bottom tt_layout_row">
            <div class="tt_layout_relative">
                <div class="tt_layout_bottom_content">
                    <!-- BOTTOM CONTENT -->
<div id="advancelist">
    <table class="table table-condensed table-hover">
        <thead>
            <th>Name</th>
            <th>VP</th>
            <th>Cost</th>
            <th>Resources</th>
            <th>Requires</th>
        </thead>
        <tbody>
            <tr ng-click="selectAdv(adv)" ng-class="getAcquireClasses(adv.name)" ng-repeat="adv in acquirer.advances | orderAdvances:possibleAdvances:acquirer.acquired">
                <td>{{ adv.title }}<button class="godMode" ng-show="godMode" ng-click="engine.acquire(adv.name)">A</button></td>
                <td>{{ adv.points }}</td>
                <td>
                    <ul class="list-inline">
                        <li class="tribes" ng-if="adv.cost.tribes">{{ adv.cost.tribes }}</li>
                        <li class="gold" ng-if="adv.cost.gold">{{ adv.cost.gold }}</li>
                    </ul>
                </td>
                <td>
                    <ul class="list-inline">
                        <li class="icon small" ng-class="{ forest: res == 'wood', mountain: res == 'stone', farm: res == 'food' }" ng-repeat="res in adv.resources">{{ res }}</li>
                    </ul>
                </td>
                <td>
                    <div>
                        {{ advTitle(adv.requires) }}
                    </div>
                </td>
                <td>{{ possibleAdvances[adv.name].areas }}</td>
            </tr>
        </tbody>
    </table>
</div>
                    <!-- END BOTTOM CONTENT -->
                </div>
            </div>
        </div>
    </div>
    
</tab>
        
<tab heading="Wonders" id="wonders">
    <div>
        <div class="resetter" ng-show="builder.nowbuilt.length > 0">
            <span>{{ builder.nowbuilt }}</span>
            <button class="btn btn-danger" ng-show="builder.nowbuilt.length > 0" ng-click="resetBuilds()">Reset</button>
        </div>
        <div class="wonderlist">
            <table class="table table-condensed table-hover">
                <thead>
                    <th>Areas</th>
                    <th>Name</th>
                    <th>VP</th>
                    <th>Cost</th>
                    <th>Description</th>
                </thead>
                <tbody>
                    <tr ng-repeat="wonder in builder.wonders">
                        <td>
                            <ul class="btn-group" role="group">
                                <li ng-click="buildWon(wonder.name, a)"
                                    class="btn"
                                    ng-repeat="a in possibleWonders[wonder.name].areas">
                                    <p class="areaCode">{{ a }}</p>
                                </li>
                            </ul>
                        </td>
                        <td>{{ wonder.title }}<button class="godMode" ng-show="godMode" ng-click="engine.build(wonder.name)">B</button></td>
                        <td>{{ wonder.points }}</td>
                        <td>
                            <ul class="list-inline">
                                <li class="tribes" ng-if="wonder.cost.tribes">{{ wonder.cost.tribes }}</li>
                                <li class="gold" ng-if="wonder.cost.gold">{{ wonder.cost.gold }}</li>
                            </ul>
                        </td>
                        <td>{{ wonder.description }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</tab>

</tabset>

    </div> <!-- .content tabpanel -->
    </div> <!-- .ttcont -->
</div> <!-- #techtree -->