$titleHeight: 30px;
$infoWidth: 250px;
$infoDetailsWidth: 400px;
$treeWidth: 200px;
$treeHeight: 100px;

$backgroundColor: $color-complement-1;
$acquiredColor: $color-complement-0;
$nowAcquiredColor: $color-complement-3;
$availableColor: $color-complement-4;
$selectedColor: $color-complement-2;
$acquiredBg: $color-complement-4;

#techtree {
    h1 {
        margin-top: 5px;
        margin-left: 5px;
        margin-bottom: 10px;
        display: inline-block;
    }
    .tab-pane {
        position: absolute;
        bottom: 0px;
        top: 40px; // Tab height
    }
    ul {
        margin-bottom: 0px;
    }
    
    .content > h2 {
        font-size: $titleHeight;
        font-weight: bold;
        position: absolute;
    }
    
    .close {
        position: absolute;
        right: 12px;
        top: 12px;
        z-index: 110;
    }
    
    #advanceinfo_tree {
        float: left;
        //width: $treeWidth;
        //margin-top: 20px;
        min-width: $treeWidth;
        height: $treeHeight;
        
        > span {
            display: table;
            margin: 0 auto;
        }
        .advancereq, .advancereqby {
            display: table;
            margin: 0 auto;
        }
        .advancecost {
            margin-top: 5px;
        }
        .advanceres ul {
            display: inline;
            margin-left: 5px;
        }
        h2 {
            display: inline;
            font-weight: bold;
            font-size: small;
        }
    }
    
    #advanceinfo_cost {
        padding-left: 10px;
        padding-right: 10px;
        max-width: $infoDetailsWidth;
        display: inline-block;
        vertical-align: top;
        > div {
            display: block;
            white-space: nowrap;
            
            ul {
                display: inline;
            }
        }
    }
    
@media (max-width: $screen-xs-max) {
    #advanceinfo {
        width: 100%;
    }
}



/* Event details */
    #advanceinfo_event_details {
        position: fixed;
        display: block;
        
        top: $infoBarHeight + 10px;
        right: 10px;
        bottom: 10px;
        overflow-y: auto;
        z-index: 130;
    }

@media (max-width: $screen-sm-max) {
    #advanceinfo_event_details {
        //margin-left: $infoWidth + $infoDetailsWidth + 10px;
        left: 10px;
    }
}

@media (min-width: $screen-md-min) {
    #advanceinfo_event_details {
        //margin-left: $infoWidth + $infoDetailsWidth + 10px;
        right: 30px;
    }
}

/* Divider */
.tt_top {
    border-bottom: 1px solid gray;
}

/* /Event details */
    
#advanceinfo_details {
    display: inline-block;
    vertical-align: top;
@media (min-width: $screen-sm-min) {
    width: $infoDetailsWidth;
}
    
    #advanceinfo_description {
        display: inline-block;
    }
}

#advanceinfo_acquire {
    margin-top: 12px;
    margin-left: 12px;
}
    
    #cityinfo {
        ul {
            width: $forest-width + $mountain-width + $farm-width;
        }
    }
    
    #advancelist {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        white-space: nowrap;
    }
    
    
    .content {
        position: absolute;
        background-color: $backgroundColor;
        height: 100%;
        width: 100%;
        overflow: hidden;
        
        .tt_layout_table {
            display: table;
        }
        .tt_main_table {
            width: 100%; height: 100%; position: relative;
        }
        .tt_layout_row { display: table-row; }
        .tt_layout_row.tt_bottom { height: 100%; }
        
        .tt_layout_cell { display: table-cell; }

        .tt_layout_relative {
            position: relative;
            //border: 1px solid magenta; 
            height: 100%;
            
            overflow: auto;
        }
        .tt_layout_left { vertical-align: top; width: 100%; }
        .tt_layout_right { min-width: 100%; }

        .tt_layout_left_content {
            //border: 1px solid blue;
        }
        .tt_layout_bottom_content {
            //border: 1px solid green;
        }
        .tt_layout_right_content {
            //border: 1px solid red;
            float: right;
        }
    }
    
@media (max-height: $heightLimit) {
    #cityinfo tbody tr:not(.areas) {
        display: none;
    }
}
    .selected {
        color: black;
    }
    
    .available {
    }
    
    .areas {
        color: $availableColor;
    }
    
    .acquired {
        color: $acquiredColor;
        background-color: $acquiredBg;
        
        button.godMode {
            display: none;
        }
    }
    
    .selected {
        background-color: $selectedColor;
    }
    
}