<div id="reducer" class="actionElement" ng-show="reducer">
    <h2>{{ reducer.opts.name || "reducer" }} {{ ok.amount }}/{{ reducer.opts.amount }} {{ ok.ok }}</h2>
    <div>
        <ul class="list-inline" ng-repeat="(a, c) in ok.current">
            <li ng-if="a > 0" class="areaCode" ng-click="selectArea(a)">
                {{ a }}
            </li>
            <li ng-if="a == 'gold'">{{ a }}</li>
            </li>
            <li ng-if="a > 0" ng-repeat="(k, v) in c" ng-switch="getType(k)">
                <span  ng-switch-when="number" ng-if="reducer.opts.edits.indexOf(k) == -1" class="icon small {{ k }}" data-val="{{ v }}">{{ v }}</span>
                <span  ng-switch-when="boolean" ng-if="reducer.opts.edits.indexOf(k) == -1 && v" class="icon small {{ k }}" data-val="{{ v }}">{{ v }}</span>

                <input ng-switch-when="number" ng-if="reducer.opts.edits.indexOf(k) > -1" class="{{ k }}" value="{{ v }}" type="number" ng-model="reduceObject[a][k]"/>
                <input ng-switch-when="boolean" ng-if="reducer.opts.edits.indexOf(k) > -1 && (!isResource(k) || v)" id="{{ a + k }}" class="{{ k }}" value="{{ v }}" type="checkbox" ng-model="reduceObject[a][k]"/>
                <label ng-switch-when="boolean" ng-if="reducer.opts.edits.indexOf(k) > -1 && (!isResource(k) || v)" for="{{ a + k }}" ng-class="{ icon: isResource(k) }" class="{{ k }}">{{ k }}</label>
            </li>
            <li ng-if="a == 'gold' && reducer.opts.edits.indexOf(a) == -1" class="gold">{{ c }}</li>
            <li ng-if="a == 'gold' && reducer.opts.edits.indexOf(a) > -1">
                <input type="number" ng-model="reduceObject[a]" class="gold" value="{{ c }}"/>
            </li>
        </ul>
    </div><div>
        <ul class="list-inline" ng-repeat="(a, c) in ok.changes">
            <li ng-click="selectChange(a)">
                <span ng-if="a > 0" class="areaCode">{{ a }}</span>
                <span ng-if="a == 'gold'">{{ a }}</span>
            </li>
            <li ng-click="selectChange(a)" ng-if="a > 0" ng-repeat="(k, v) in c">
                <span class="icon small {{ k }}" data-val="{{ v }}">{{ v > 0 ? "+" : "" }}{{ v }}</span>
            </li>
            <li ng-click="selectChange(a)" ng-if="a == 'gold'" class="gold">{{ c }}</li>
        </ul>
    </div>
    <button class="done btn btn-primary col-xs-12 col-sm-6" ng-disabled="!ok.ok" ng-click="done()">Done</button>
    <button class="btn btn-default col-xs-12 col-sm-6" ng-disabled="Object.keys(ok.changes).length" ng-click="reset()">Reset</button>
</div>