#reducer {
    z-index: 1010;
    text-align: center;
    
    > div {
        display: block;
    }
    input[type=number] {
        width: 40px;
    }
    input[type=checkbox] {
        display: none;
    }
    input[type=checkbox] + .icon {
        background-color: #990000;
    }
    input[type=checkbox]:checked + label:not(.icon) {
        background-color: #009900;
    }
    input[type=checkbox]:checked + .icon {
        background-color: transparent;
    }
}