<!DOCTYPE html>
<html ng-app="pocketcivApp">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
<link href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
<link href="stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
<!--[if IE]>
  <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script>window.jQuery || document.write('<script src="lib/jquery/dist/jquery.min.js">\x3C/script>')</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script>window._ || document.write('<script src="lib/underscore/underscore.js">\x3C/script>')</script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.angularjs.org/1.2.9/angular.min.js"></script>
<script>window.angular || document.write('<script src="lib/angular/angular.js">\x3C/script>')</script>
<script type="text/javascript" src="lib/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript" src="lib/ngstorage/ngStorage.js"></script>
<script type="text/javascript" src="lib/snapjs/snap.js"></script>
<script type="text/javascript" src="lib/angular-snap/angular-snap.js"></script>
<script type="text/javascript" src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
</head>    
<body ng-controller="MainGame">
    <a id="github" target="_blank" href="https://github.com/jrutila/pocketciv-js"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
    <nav snap-drawer>
        <accordion>
            <accordion-group>
                <accordion-heading>New Game</accordion-heading>
                <div class="button-group">
                    <button class="btn btn-primary" ng-repeat="(k, s) in scenarios" ng-click="load(s)" snap-toggle>{{ s.title }}</button>
                </div>
            </accordion-group>
            <accordion-group>
                <accordion-heading>Load Game</accordion-heading>
                <button class="btn btn-primary" ng-click="load($storage['current'])" snap-toggle>Continue</button>
                <div class="button-group">
                    <button class="btn btn-primary" ng-repeat="(k, s) in $storage.saves" ng-click="saveName = k; load(s)" snap-toggle>{{ k }}</button>
                </div>
            </accordion-group>
            <accordion-group>
                <accordion-heading>Save Game</accordion-heading>
                <input type="text" ng-model="saveName" />
                <button ng-hide="saved" class="btn btn-primary" ng-click="save(saveName)">Save</button>
                <span ng-show="saved" class="info">{{ saveName }} saved!</span>
            </accordion-group>
            <accordion-group>
                <accordion-heading>God Mode</accordion-heading>
                <label class="btn btn-primary" ng-model="godMode" btn-checkbox>God Mode</label>
                <textarea ng-show="godMode" json-text rows="5" cols="30" ng-model="engine.map.areas"></textarea>
            </accordion-group>
            <accordion-group>
                <accordion-heading>Report a Bug</accordion-heading>
                <!--
                <input type="textarea" rows=5 cols=20 ng-model="bugDescr" placeholder="Write a small description what you did and what should have happened..."></textarea>
                -->
                <button class="btn btn-primary" ng-click="sendBug()" ng-hide="bugSent">Send game log</button>
                <i ng-show="bugSent" ng-click="bugSent = false">Bug sent!</i>
            </accordion-group>
        </accordion>
    </nav>
    <div id="main" snap-content snap-options="snapOpts">
    <div id="infobar" snap-dragger >
        <div id="mainmenu_toggle" class="navbar-toggle" snap-toggle="left">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <span>ERA: {{ engine.era }}</span>
        <span>Gold: {{ engine.gold }}</span>
    </div>
    <div id="deck" ng-class="{ pushed: hideDrawer }">
        <span id="cardsLeft">{{ deck.cardsLeft }}</span>
        <div ng-hide="hideDrawer">
            <button ng-click="drawCard()">draw</button>
        </div>
        <input ng-show="godMode && !hideDrawer" type="text" ng-model="specificCard" />
    </div>
    <div id="card" ng-mouseover="showCard = true" ng-mouseout="showCard = false" ng-class="{ pushed: hideDrawer, shown: showCard }">
        <span class="circle border">
            <span class="inner">{{ card.circle }}</span>
        </span>
        <span class="square">{{ card.square }}</span>
        <span class="hexagon border">
            <span class="inner">{{ card.hexagon }}</span>
        </span>
        <span class="friendly">{{ card.friendly }}</span>
        <span class="gold">{{ card.gold }}</span>
        <span class="id">{{ card.id }}</span>
        <ul>
            <li class="event" ng-repeat="(era, e) in card.events">
                <span class="era">{{ era }}</span>
                <span class="name">{{ e.name }} {{ e.visitor }}</span>
                <span class="expr">{{ e.expr }}</span>
            </li>
        </ul>
    </div>
    <!--{{ card }}-->
    
    <div id="map">
        <div id="images">
            <img id="mapImage-1" src="images/modern/water.png"/>
            <img id="mapImage0" src="images/modern/land.png"/>
            <img id="mapImage1" src="images/modern/land1.png"/>
            <img id="mapImage2" src="images/modern/land2.png"/>
            <img id="mapImage3" src="images/modern/land3.png"/>
            <img id="mapImage4" src="images/modern/land4.png"/>
            <img id="mapImage5" src="images/modern/land5.png"/>
            <img id="mapImage6" src="images/modern/land6.png"/>
            <img id="mapImage7" src="images/modern/land7.png"/>
            <img id="mapImage8" src="images/modern/land8.png"/>
            <div class="symbol tribes" id="tribes"></div>
            <div class="symbol city" id="city"></div>
            <div class="icon farm" id="farm"></div>
            <div class="icon forest" id="forest"></div>
            <div class="icon fault" id="fault"></div>
            <div class="icon mountain" id="mountain"></div>
            <div class="icon volcano" id="volcano"></div>
            <div class="icon desert" id="desert"></div>
        </div>
        <div id="canvases">
            <canvas class="mapCanvas" id="mapCanvas-1" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="mapCanvas" id="mapCanvas0" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="mapCanvas" id="mapCanvas1" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="mapCanvas" id="mapCanvas2" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="mapCanvas" id="mapCanvas3" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="mapCanvas" id="mapCanvas4" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="mapCanvas" id="mapCanvas5" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="mapCanvas" id="mapCanvas6" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="mapCanvas" id="mapCanvas7" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="mapCanvas" id="mapCanvas8" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="activeCanvas" id="activeCanvas1" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="activeCanvas" id="activeCanvas2" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="activeCanvas" id="activeCanvas3" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="activeCanvas" id="activeCanvas4" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="activeCanvas" id="activeCanvas5" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="activeCanvas" id="activeCanvas6" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="activeCanvas" id="activeCanvas7" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="activeCanvas" id="activeCanvas8" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="focusCanvas" id="focusCanvas1" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="focusCanvas" id="focusCanvas2" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="focusCanvas" id="focusCanvas3" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="focusCanvas" id="focusCanvas4" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="focusCanvas" id="focusCanvas5" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="focusCanvas" id="focusCanvas6" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="focusCanvas" id="focusCanvas7" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <canvas class="focusCanvas" id="focusCanvas8" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
            <span class="areaCode" id="area1">1</span>
            <span class="areaCode" id="area2">2</span>
            <span class="areaCode" id="area3">3</span>
            <span class="areaCode" id="area4">4</span>
            <span class="areaCode" id="area5">5</span>
            <span class="areaCode" id="area6">6</span>
            <span class="areaCode" id="area7">7</span>
            <span class="areaCode" id="area8">8</span>
            <canvas ng-click="mapClick($event)" ng-mousemove="mapFocus($event)"
                class="mapCanvas" id="clickCanvas" width="{{ mapArea.width }}" height="{{ mapArea.height }}"></canvas>
        </div>
    </div>
    <div id="mapinfo" class="actionElement collapsible" ng-hide="mapInfo == undefined">
        <h2>{{ mapTitle }}</h2>
        {{ mapInfo }}
        <ul ng-hide="reduceObject == undefined">
            <li ng-repeat="(k,v) in reduceObject">
                {{ k }}:
                tribes: <input type="number" ng-model="reduceObject[k]['tribes']" />
                city: <input type="number" ng-model="reduceObject[k]['city']" />
            </li>
        </ul>
        <button ng-click="mapDone()">done</button>
    </div>
    
    <div id="advances">
        <h2>Acquired advances</h2>
        <div ng-hide="!godMode">
        <input type="text" ng-model="acquireAdvance"/><button ng-click="engine.acquire(acquireAdvance)">Acquire!</button><br/>
        </div>
        <ul>
            <li ng-repeat="(key, adv) in _.pick(engine.advances, engine.acquired)">
                <span>{{ adv.title }}</span>
            </li>
        </ul>
    </div>
    <a id="showTechTree" ng-click="toggleTechTree()">Open tech tree</a>
    
    <div id="techtree" ng-hide="!showTT">
        <div class="cover"></div>
        <div class="ttcont">
        <button class="close" ng-click="toggleTechTree()">X</button>
        <div class="content container">
            <h2>Tech tree</h2>
            <div id="advanceinfo">
                <div id="advancereq">
                    <ul>
                        <li class="btn" ng-click="selectAdv(engine.advances[r])" ng-repeat="r in _.flatten(selAdv.requires)">
                            {{ engine.advances[r].title || r }}
                        </li>
                    </ul>
                </div>
                <h1 ng-class="{ acquired: engine.acquired[selAdv.name] || acquirer.acquired[selAdv], available: possibleAdvances[seladv.name], areas: possibleAdvances[selAdv.name].areas.length }">
                    {{ selAdv.title }}
                </h1>
                <div id="advancereqby">
                    <ul>
                        <li class="btn" ng-click="selectAdv(engine.advances[r])" ng-repeat="r in selAdv.required_by">
                            {{ engine.advances[r].title || r }}
                        </li>
                    </ul>
                </div>
                <div id="advancecost">
                    <h2>Cost</h2>
                    <span>Tribes: <span class="tribes">{{ selAdv.cost.tribes }}</span></span>
                    <span>Gold: <span class="gold">{{ selAdv.cost.gold }}</span></span>
                </div>
                <div id="advanceres">
                    <h2>Resources</h2>
                    <ul>
                        <li ng-repeat="r in selAdv.resources">
                            {{ r }}
                        </li>
                    </ul>
                </div>
                <div id="advanceareas">
                    <h2>Available on areas:</h2>
                    <ul>
                        <li ng-repeat="a in possibleAdvances[selAdv.name].areas">
                            {{ a }}
                        </li>
                    </ul>
                    <button ng-click="acquireGo()" class="btn" ng-show="engine.phase == 'advance' && possibleAdvances[selAdv.name].areas.length > 0 && selArea && acquiring">Acquire</button>
                </div>
            </div>
            <div id="cityinfo">
                <table class="table">
                    <thead><th>Area</th><th>AV</th><th>Tribes</th><th>Resources</th></thead>
                    <tbody>
                        <tr ng-click="advArea(c)" ng-class="{ areas: possibleAdvances[selAdv.name].areas.indexOf(c.id.toString()) > -1, selected: selArea == c }" ng-repeat="c in engine.map.areas | filter:city">
                            <td>{{ c.id }}</td>
                            <td><span class="city">{{ c.city }}</span></td>
                            <td><span class="tribes">{{ c.tribes }}</span></td>
                            <td>TBD</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table class="advancelist table table-condensed table-hover">
                <thead><th>Name</th><th>VP</th><th>Cost</th><th>Resources</th><th>Requires</th></thead>
                <tbody>
                    <tr ng-click="selectAdv(adv)" ng-class="{ acquired: engine.acquired[key] || acquirer.acquired[adv], available: possibleAdvances[key], areas: possibleAdvances[key].areas.length, selected: selAdv == adv }" ng-repeat="(key, adv) in engine.advances">
                        <td>{{ adv.title }}</td>
                        <td>{{ adv.points }}</td>
                        <td>
                            <div ng-repeat="(k, v) in adv.cost" class="{{ k }}">{{ v }}</div>
                        </td>
                        <td>{{ adv.resources }}</td>
                        <td>
                            <div ng-repeat="r in adv.requires">
                                {{ r.join(' or ') || r }}
                            </div>
                        </td>
                        <td>{{ possibleAdvances[key].areas }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
    
    <div id="changePrompt" ng-hide="!areaChange">
        <div class="cover"></div>
        <div class="content">
            <div class="areachange" ng-repeat="(a, c) in areaChange">
                <span class="areaCode">{{ a }}</span>
                <span ng-repeat="(k, v) in c" class="{{ k }}" data-val="{{ v }}">{{ v }}</span>
            </div>
            <button ng-click="areaChangeOk()">OK</button>
        </div>
    </div>
    
    <div ng-show="godMode && !hideMover" id="mover"
        <ul>
            <li ng-repeat="(id, area) in movement">{{ id }}: <input type="number" value="{{ area.tribes }}" ng-model="movement[id]"/></li>
        </ul>
        <button ng-click="moveTribes()">Move</button>
    </div>
    
    <div id="areaselect" ng-hide="possibleAreas.length == 0">
        <select ng-model="selectedArea" ng-options="a for a in possibleAreas"></select>
        <button ng-click="selectArea()">Select</button>
    </div>
    
    <div ng-show="acquiring && godMode">
        <textarea cols="100">{{ possibleAdvances }}</textarea><br/>
        <input ng-model="acquire_name" /><input ng-model="acquire_area" />
        <button ng-click="acquireGo()">Go</button>
        <textarea cols="50">{{ acquired }}</textarea><br/>
        <button ng-click="acquireOk()">Acquire!</button>
    </div>
    
    <div id="advancePhase" class="actionElement collapsible" ng-hide="engine.phase != 'advance'" >
        <h2>Advance</h2>
        <ul>
            <li><button ng-click="advance('farm')">Create a Farm</button></li>
            <li><button ng-click="advance('city')">Build a City</button></li>
            <li><button ng-click="advance('acquire')">Acquire Advances</button></li>
        </ul>
        <button ng-click="actionStack.pop(); engine.nextPhase()">Done</button>
    </div>
    <button id="startButton" class="btn actionElement" ng-click="engine.phase = 'populate'" ng-hide="engine.phase">Start!</button>
    
    <div ng-show="godMode" id="phaser">
    <h2>Phases</h2>
    <span ng-hide="!godMode">
        <select ng-model="changePhase">
            <option value="populate">1. Population</option>
            <option value="move">2. Move</option>
            <option value="event">3. Event</option>
            <option value="advance">4. Advance</option>
            <option value="support">5. Upkeep - Support</option>
        </select>
        <button ng-click="goPhase()">Change</button>
    </span>
        <ul ng-hide="!godMode">
            <li><button ng-click="engine.runPhase('populate')" ng-disabled="engine.phase != 'populate'">1. Population</button></li>
            <li><button ng-click="engine.runPhase('move')" ng-disabled="engine.phase != 'move'">2. Move</button></li>
            <li><button ng-click="engine.runPhase('event')" ng-disabled="engine.phase != 'event'">3. Event card</button></li>
            <li>4. Advance
                <ul ng-hide="engine.phase != 'advance'">
                    <li><button ng-click="advance('farm')">Create a Farm</button></li>
                    <li><button ng-click="advance('city')">Build a City</button></li>
                    <li><button ng-click="advance('acquire')">Acquire Advances</button></li>
                    <li><button ng-click="engine.nextPhase()">DONE!</button></li>
                </ul>
            </li>
            <li><button ng-click="engine.runPhase('support')" ng-disabled="engine.phase != 'support'">5.1 Upkeek - Support</button></li>
            <li><button ng-click="engine.runPhase('gold_decimate')" ng-disabled="engine.phase != 'gold_decimate'">5.2 Upkeek - Decimate Gold</button></li>
            <li><button ng-click="engine.runPhase('city_support')" ng-disabled="engine.phase != 'city_support'">5.3 Upkeek - City Support</button></li>
            <li><button ng-click="engine.runPhase('upkeep')" ng-disabled="engine.phase != 'upkeep'">5. Upkeek</button></li>
        </ul>
        <input type="text" ng-model="startEvent"/><button ng-click="doEvent()">Start event!</button>
    </div>
    
    
    <div id="replay">
        <input type="text" ng-model="gameName" /><button ng-click="saveGamePlay()">save</button>
        <ul>
            <li ng-repeat="(k, g) in $storage"><button ng-click="loadGamePlay(k, g)">{{ k }}</button><button>X</button></li>
        </ul>
        <textarea ng-model="gameScript"></textarea><button ng-click="loadGamePlay('new', gameScript)">load</button>
    </div>
    
    </div><!-- snap-content -->
    
    <script type="text/javascript" src="lib/HexagonTools/js/HexagonTools.js"></script>
    <script type="text/javascript" src="lib/HexagonTools/js/HexCalcs.js"></script>
    <script type="text/javascript" src="lib/HexagonTools/js/Grid.js"></script>
    <script type="text/javascript" src="js/map.js"></script>
    <script type="text/javascript" src="bundle.js"></script>
</body>
</html>
