#advancePhase {
    background-color: rgba(lightYellow, .4);
    text-align: center;
    padding-bottom: 15px;
    
    li button {
        width: 80%;
        background-color: darkYellow;
        color: darkYellow;
        height: $buttonHeight;
        margin-bottom: 15px;
    }
    
    > button {
        bottom: 10px;
        height: $buttonHeight;
        width: 70%;
    }
    
    h2 {
        background-color: rgba(lightYellow, .8);
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
}

#advancePhase.away {
    ul {
        display: none;
    }
    
    > button {
        display: none;
    }
    
    height: 40px;
    width: 40px;
    left: 0px;
}