$smallWidth: $mapWidth + $cardWidth;
$mediumWidth: $mapWidth + $cardWidth;
$largeWidth: $mapWidth + 2 * $cardWidth;

@mixin smaller-than-map {
    @media (max-width : $smallWidth) {
    		@content;
	}    
}

@mixin bigger-than-map {
    @media (min-width : $smallWidth) and (max-width: $largeWidth)  {
    		@content;
	}    
}

@mixin really-large {
    @media (min-width : $largeWidth) {
    		@content;
	}    
}