$titleHeight: 30px;
$infoWidth: 250px;

#techtree {
    .ttcont {
        position: fixed;
        top:  $infoBarHeight + 2px;
        left: 25px;
        right: 25px;
        bottom: 25px;
        z-index: 102;
    }
    
    .content > h2 {
        font-size: $titleHeight;
        font-weight: bold;
        position: absolute;
    }
    
    .close {
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 110;
    }
    
    #cityinfo table {
        width: auto;
    }
    
    .content {
        position: absolute;
        background-color: white;
        //bottom: 25px;
        height: 100%;
        width: 100%;
//        min-width: 100%;
        //width: $mapWidth - 50;
        //height: $mapHeight - 50;
    }
    
    .infos {
        display: table;
        height: 100%;
        width: 100%;
        
        .inforow {
            display: table-row;
            width: 100%;
            height: 0px;
        }
        
        .infotable {
            display: table;
            .relative {
                display: table-cell;
                height: 100%;
            }
            .relative.cityinfo {
                width: 100%;
            }
        }
        
        
        #cityinfo {
            width: 100%;
            
            table {
                float: right;
                margin-left: $infoWidth;
            }
        }
        #advanceinfo {
            top: $titleHeight;
            min-width: $infoWidth;
            position: absolute;
            
            #advancereq, #advancereqby {
                height: 30px;
            }
            h1 {
                padding-left: 30px;
            }
        }
    
        .advancelist
        {
            display: table-row;
            width: 100%;
            
            .relative {
                position: relative;
                height: 100%;
                
                .scroll {
                    overflow: auto;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                }
            }
        }
    }
    
    .available {
        color: black;
    }
    
    .areas {
        color: lightGreen;
    }
    
    .acquired {
        color: darkGreen;
    }
    
    .selected {
        background-color: lightBlue;
    }
}