/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$mapHeight: 800px;
$mapWidth: 800px;

$cardHeight: 260px;
$cardWidth: 170px;

$buttonHeight: 40px;
$mapSymbolSize: 21px;
$infoBarHeight: 25px;

@import "_mediaQueries";
@import "_deck";
@import "_advancePhase";
@import "_map";
@import "_advances";
@import "_techTree";

#advances {
    position: fixed;
    left: $mapWidth + $cardWidth + 10;
    top: 10px;
}

.cover {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
    background:rgba(0,0,0,0.6);
}


#mapinfo {
    position: fixed;
    top: 30px;
    background-color: yellow;
    padding: 20px;
    z-index: 50;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
    button {
        display: block;
        height: $buttonHeight;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

#infobar {
    width: 100%;
    background-color: rgba(gray, .7);
    height: $infoBarHeight;
    font-weight: bold;
    top: 0px;
    position: fixed;
    z-index: 200;
}

#changePrompt {
    .content {
        z-index: 102;
        position: fixed;
        top: $mapWidth / 4;
        width: 100%;
        background-color: white;
        text-align: center;
        
        button {
            display: block;
            text-align: center;
            width: 50%;
            height: 30px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.highlight {
    z-index: 101;
}

#mainmenu_toggle {
    background-color: red;
    position: fixed;
    top: 0px;
    height: 40px;
    width: 40px;
    right: 0px;
    z-index: 400;
}

#showTechTree {
    z-index: 200;
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 2px;
    background-color: rgba(green, .8);
    cursor: pointer;
}

#mainmenu {
    
    ul {
        z-index: 300;
        width: 100%;
        background-color: rgba(red, .8);
        padding-top: 40px;
        padding-bottom: 40px;
        position: fixed;
        top: $infoBarHeight;
        
        li button {
            width: 80%;
            background-color: darkYellow;
            color: darkYellow;
            height: $buttonHeight;
            margin-bottom: 15px;
        }
    
    }
    
    .cover {    
        z-index: 280;
    }
}